<div block="b-share">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="left">
                    <div elem="title">Многие девушки годами <br> <strong>игнорируют свои желания</strong></div>
                    <div elem="desc">И откладывают маммопластику «на потом». А когда наконец решаются, то говорят: «Доктор, почему я не сделала этого раньше?!» </div>
                </div>
                <div elem="right">
                    <div elem="quotation">Мы искренне хотим, чтобы вы не откладывали свои желания в “долгий ящик”.</div>
                </div>
            </div>
            <div elem="body">
                <div elem="text">Всего несколько дней, и вы обладательница красивой, высокой и соблазнительной груди. <br> <strong>Поспешите, количество мест ограничено!</strong></div>
                <div elem="explanation">Предложение закончится через:</div>
                <div elem="timer" class="js-share-timer">
                    <!-- <div elem="timer-item">
                        <div elem="timer-namber">12</div>
                        <div elem="timer-date">дней</div>
                    </div>
                    <span>:</span>
                    <div elem="timer-item">
                        <div elem="timer-namber">3</div>
                        <div elem="timer-date">часов</div>
                    </div>
                    <span>:</span>
                    <div elem="timer-item">
                        <div elem="timer-namber">17</div>
                        <div elem="timer-date">минут</div>
                    </div>
                    <span>:</span>
                    <div elem="timer-item">
                        <div elem="timer-namber">24</div>
                        <div elem="timer-date">секунд</div>
                    </div> -->
                </div>
                <a elem="btn-make" class="site-btn" href="#" data-remodal-target="share">Записаться на маммопластику</a>
            </div>
        </div>
    </div>
</div><!-- b-share -->