.b-share
    padding-top 300px
    padding-bottom 225px
    background url('../img/share-bg.png') 50% 0 no-repeat
    
    &__head
        display flex
        justify-content space-between
        margin-bottom 120px
        
        @media (max-width 1023px)
            display block
    
    &__left
        flex 0 0 690px
        width 690px
        max-width 690px
        
        @media (max-width 1023px)
            width 690px
            max-width 100%
            margin 0 auto
    
    &__right
        flex 0 0 395px
        width 395px
        max-width 395px  
        height 260px
        display flex
        flex-direction column
        justify-content center
        align-items center
        text-align center  
        border-radius 30px
        padding-left 50px
        padding-right 50px
        background-color #fff
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        
        @media (max-width 1023px)
            width 395px
            max-width 100%
            margin 0 auto
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        line-height 60px
        margin-bottom 30px
        
        strong
            font-weight bold
            font-style italic
     
    &__desc
        font-size 25px
        color #8d9aa2
        font-weight normal            
        line-height 34px
        width 550px
        max-width 100%  
        
        @media (max-width 1023px)
            margin-bottom 30px    
    
    &__quotation
        font-size 20px
        color #8d9aa2
        font-weight normal            
        line-height 28px
        position relative
        &:before
            content ''
            position absolute
            top -60px 
            left 50%
            transform translateX(-50%)
            width 77px
            height 70px
            background url('../img/two-quotes-pic.png') 0 0 no-repeat
            z-index 1
        
    &__body
        text-align center
        width 870px
        max-width 100%
        margin 0 auto
        
    &__text
        font-size 30px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        line-height 38px 
        margin-bottom 40px
        
        strong
            font-weight bold
            font-style italic
    
    &__explanation
        font-size 18px
        color #8d9aa2
        font-weight normal
        line-height 38px
        margin-bottom 20px
    
    &__timer
        font-size 30px
        color #de1929
        font-family : $fonts.additFont
        line-height 38px
        font-weight normal
        display flex    
        justify-content center
        align-items baseline
        margin-bottom 50px
        
        span
            margin-right 15px
            margin-left 15px
            
            @media (max-width 375px)
                display none
    
    &__timer-item
        display flex
        align-items baseline
        
        @media (max-width 375px)
            margin-right 5px
    
    &__timer-namber
        font-size 48px
        color #de1929
        font-family : $fonts.additFont
        font-weight bold
        font-style italic
        line-height 38px
        margin-right 5px
    
    &__timer-date 
        font-size 30px
        color #de1929
        font-family : $fonts.additFont
        font-weight normal
        line-height 38px
        
    
    &__btn-make
        padding-left 40px
        padding-right 40px
        &:after
            top -40px
            right -90px
            width 56px
            height 87px
            background url('../img/share-arrow.png') 0 0 no-repeat

@media (max-width 1200px)
    .b-share__left
        flex 0 0 70%
        max-width 70%
        width 100%
    
    .b-share__right
        flex 0 0 30%
        max-width 30%
        width 100%

@media (max-width 1024px)
    .b-share__left
        margin-right 10px

    .b-share__head
        margin-bottom 60px
    
    .b-share
        padding-top 250px

@media (max-width 768px)
    .b-share__head
        display block
    
    .b-share__left,
    .b-share__right
        max-width 100%

    .b-share__left
        margin-bottom 30px
    
    .b-share__right
        height 227px

    .b-share__title
        font-size 40px
        line-height 45px
        text-align center
    
    .b-share__text
        font-size 25px
        line-height 30px

    .b-share
        padding-bottom 165px
    
    .b-share__timer-namber
        font-size 30px
    
    .b-share__timer-date
        font-size 15px

    .b-share__timer
        margin-bottom 20px

@media (max-width 500px)
    .b-share__title
        font-size 30px
        line-height 30px
        text-align left
    
    .b-share
        padding-top 200px
        padding-bottom 135px
    
    .b-form.popup-form .b-form__title
        font-size 30px

@media (max-width 320px)
    .b-share
        padding-top 66px
        padding-bottom 58px
        background url("../img/share-bg-min.png") 50% 0 no-repeat
        
    .b-share__title
        margin-bottom 24px
        font-size 23px
        line-height 30px
    
    .b-share__desc
        font-size 18px
        line-height 24px
    
    .b-share__text
        margin-bottom 15px
        font-size 18px
        line-height 24px
    
    .b-share__explanation
        margin-bottom 5px
        font-size 16px
    
    .b-share__timer-namber,
    .b-form__timer-namber
        font-size 20px
    
    .b-share__timer-date,
    .b-form__timer-date
        font-size 11px
    
    .b-share__right
        height auto
        padding 71px 26px 81px
    
    .b-share__quotation
        font-size 16px
        line-height 24px
    
    .b-share__quotation:before
        top -40px
        width 42px
        height 36px
        background-size cover
    
    .b-form.popup-form .b-form__title,
    .b-form__sub-title
        font-size 18px
        line-height 24px

    .b-form__input input,
    .b-form.popup-form .b-form__inner
        padding-left 20px
        padding-right 20px