.b-vebinar-specialist
    
    
    
    &__section
        padding-top 280px
        padding-bottom 200px
        background url('../img/vebinar-specialist-bg.png') 50% 0 no-repeat
        background-size cover
    
    @media (max-width: 480px)
        padding-top 185px
        padding-bottom 100px
    
    &__inner
        width 1445px
        max-width 100%  
    
    &__head
        text-align center
        margin-bottom 95px
        
        @media (max-width: 1279px)
            margin-bottom 40px
        
    &__title
        font-size 54px
        font-family : $fonts.additFont
        font-weight normal
        color #050505
        line-height 60px
        
        strong
            color #de1929
            font-weight bold
        
        @media (max-width: 1279px)
            font-size 46px
            line-height 50px 
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px
     
    &__item
        display flex
        width 1200px
        max-width 100%
        margin-left auto
        margin-right auto
        
        @media (max-width: 1279px)
            display block
        
        @media (max-width: 480px)
            *
                box-shadow none 
    
    &__img
        flex 0 0 470px
        width 470px
        max-width 470px
        align-self start
        border 15px solid #fff
        border-radius 25px
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        
        img
            max-width 100%
            height auto
        
        @media (max-width: 1279px)
            width 470px
            max-width 100%
            margin 0 auto    
            margin-bottom 40px
    
    &__body
        flex 0 0 550px
        width 550px
        max-width 550px
        margin-left 90px  
        
        @media (max-width: 1279px)
            width 550px
            max-width 100%
            margin 0 auto 
            padding-left 50px   
        
        @media (max-width: 480px)
            padding-left 0       
     
    &__name
        font-size 46px
        color #000
        font-family : $fonts.additFont
        font-weight bold
        line-height 52px
        margin-bottom 25px
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px
            margin-bottom 5px
    
    &__position
        font-size 22px
        color #8d9aa2
        font-weight normal
        line-height 24px
        margin-bottom 55px

        @media (max-width: 480px)
            font-size 18px
            margin-bottom 20px
    
    &__list
        list-style-type none
        padding-left 0
        margin-bottom 0
        position relative
        z-index 2
        
        li
            font-size 24px
            color #050505
            font-weight normal
            line-height 36px
            padding-left 35px
            margin-bottom 30px
            position relative
            &:before
                content ''
                position absolute
                top 12px
                left 0
                width 7px
                height 7px
                border-radius 50%
                background-color rgb(222, 25, 41)
                box-shadow 0px 7px 6px 0px rgba(222, 49, 65, 0.5)
            
            @media (max-width: 480px)
                font-size 16px
                line-height 20px
                padding-left 30px
                margin-bottom 20px        
    
    &__btn-watch-results
        width 350px
        margin-top 15px
        &:after
            top -15px
            right -110px
            width 82px
            height 73px
            background url('../img/our-specialists-arr.png') 0 0 no-repeat        