<div block="b-vebinar-specialist">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Кто проводит <br> <strong>вебинар</strong></div>
            </div>
            <div elem="items">
                <div elem="item">
                    <div elem="img"><img src="img/our-specialist-img.jpg" alt=""></div>
                    <div elem="body">
                        <div elem="name">Урмурзин Данияр <br> Кайратович</div>
                        <div elem="position">главный врач, пластический хирург клиники пластической хирургии и косметологии Amira</div>
                        <ul elem="list">
                            <li>22 года общемедицинского стажа и 15 лет опыта в пластической хирургии</li>
                            <li>председатель этического комитета Общественного объединения пластических, реконструктивных и эстетических хирургов Казахстана</li>
                            <li>член международной конфедерации IPRAS, Российского общества пластических, реконструктивных и эстетических хирургов</li>
                        </ul>
                        <div elem="foot">
                            <a elem="btn-watch-results" class="site-btn" href="#" data-remodal-target="certificates">Посмотреть дипломы <br> и сертификаты</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-vebinar-specialist -->