<div block="b-form" mods="popup-share" class="remodal popup-form" data-remodal-id="share">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <form elem="form" action="">
            <div elem="inner">
                <div elem="head">
                    <div elem="title"><strong>Запишитесь</strong> <br> на консультацию</div>
                    <div elem="sub-title">и получите <strong>скидку 30%</strong></div>
                </div>
                <div elem="items">
                    <div elem="input">
                        <input type="text" placeholder="Ваше имя" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш email" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш телефон" required>
                    </div>
                    <button elem="btn-submit" class="site-btn" type="submit">Записаться <br> на консультацию </button>
                </div>
                <div elem="bot">
                    <div elem="explanation">Предложение закончится через:</div>
                    <div elem="timer" class="js-form-share-timer">
                       <!--  <div elem="timer-item">
                            <div elem="timer-namber">12</div>
                            <div elem="timer-date">дней</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">3</div>
                            <div elem="timer-date">часов</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">17</div>
                            <div elem="timer-date">минут</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">24</div>
                            <div elem="timer-date">секунд</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </form>
        <div elem="send-success">
            <i elem="send-success-icon"></i>
            <div elem="send-success-message">Спасибо за заявку!</div>
            <div elem="send-success-desc">Наш менеджер скоро свяжется с Вами</div>
        </div>
    </div>
</div><!-- b-form -->