<div block="b-form" mods="popup-contacts" class="remodal popup-form" data-remodal-id="contacts">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <form elem="form" action="">
            <div elem="inner">
                <div elem="head">
                    <div elem="title"><strong>Требуется</strong> <br> консультация?</div>
                    <div elem="sub-title">Оставьте Ваши контакты и мы свяжемся с вами</div>
                </div>
                <div elem="items">
                    <div elem="input">
                        <input type="text" placeholder="Ваше имя" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш email" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш телефон" required>
                    </div>
                    <button elem="btn-submit" class="site-btn" type="submit">Отправить</button>
                </div>
            </div>
        </form>
        <div elem="send-success">
            <i elem="send-success-icon"></i>
            <div elem="send-success-message">Спасибо за заявку!</div>
            <div elem="send-success-desc">Наш менеджер скоро свяжется с Вами</div>
        </div>
    </div>
</div><!-- b-form -->