<div block="b-form">
    <div elem="section">
        <form elem="form" action="">
            <div elem="inner">
                <div elem="head">
                    <div elem="title"><strong>Запишитесь</strong> <br> на консультацию</div>
                </div>
                <div elem="items">
                    <div elem="input">
                        <input type="text" placeholder="Ваше имя" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш email" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш телефон" required>
                    </div>
                    <button elem="btn-submit" class="site-btn" type="submit">Записаться <br> на консультацию </button>
                </div>
                <div elem="bot">
                    <div elem="explanation">Предложение закончится через:</div>
                    <div elem="timer" class="js-form-timer">
                        <!-- <div elem="timer-item">
                            <div elem="timer-namber">12</div>
                            <div elem="timer-date">дней</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">3</div>
                            <div elem="timer-date">часов</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">17</div>
                            <div elem="timer-date">минут</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">24</div>
                            <div elem="timer-date">секунд</div>
                        </div> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div><!-- b-form -->