<div block="b-form" mods="bottom">
    <div elem="section" class="contain">
        <div elem="body">
            <div elem="head">
                <div elem="title">
                    <strong>Уход за кожей</strong> — важная <br>
                    составляющая <strong>здоровья 
                    и красоты.</strong>
                </div>
                <div elem="sub-title">
                    Приходите на комплексную диагностику <br>
                    в Amira Clinic — забудьте про несовершенства кожи и тональный крем!
                </div>
            </div>
            <div block="b-dont-close">
                <div elem="info-old-price">
                    <div elem="old-price-title">
                        Полная стоимость:
                    </div>
                    <div elem="old-price">
                        8500 <span>тенге</span>
                    </div>
                </div>
                <div elem="info-cur-price">
                    <div elem="cur-price-title">
                        Цена для участниц вебинара:
                    </div>
                    <div elem="cur-price">
                        3000 <span>тенге</span>
                    </div>
                </div>
            </div>
        </div>
        <form elem="form" action="">
            <div elem="inner">
                <div elem="items">
                    <div elem="input">
                        <input type="text" placeholder="Ваше имя" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш email" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш телефон" required>
                    </div>
                    <button elem="btn-submit" class="site-btn" type="submit">Хочу на диагностику!</button>
                </div>
                <div elem="bot">
                    <div elem="explanation">Предложение закончится через:</div>
                    <div elem="timer" class="js-form-timer-girl"></div>
                </div>
            </div>
        </form>
        <div elem="send-success" class="formBot" data-remodal-id="formBot">
            <button data-remodal-action="close" class="remodal-close"></button>
            <div elem="body">
                <i elem="send-success-icon"></i>
                <div elem="send-success-message">Спасибо за заявку!</div>
                <div elem="send-success-desc">Наш менеджер скоро свяжется с Вами</div>
            </div>
        </div>
    </div>
</div><!-- b-form -->