.b-form
    padding 10px
    background-color #fff
    border-radius 10px
    box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
    
    &--vebinar
        
        & ^[0]
            
            &__title
                margin-top 30px
                margin-bottom 30px
                
                @media (max-width 640px)
                    margin-top 15px
                    margin-bottom 15px
    
    &--popup-specialist
        
        & ^[0]
            
            &__inner
                padding-bottom 15px
            
            &__title
                margin-bottom 40px !important 
            
            &__explanation
                margin-top 15px
                margin-bottom 0 
    
    &--popup-pay
        
        & ^[0]
            
            &__inner
                padding-bottom 45px
            
            &__title
                margin-bottom 40px !important 
            
            &__btn-submit
                padding-top 10px
                padding-bottom 10px              
    
    &.popup-form
        
        box-shadow none
        
        & ^[0]
            
            &__inner
                padding-top 40px    
            
            &__title
                font-weight 500
                margin-bottom 10px           

    &__section
        width 470px
        max-width 100%
        border-radius 10px
        border 1px solid #edeef0
    
    &__form    
        &.success
            display none

    
    &__inner
        text-align center
        padding 10px 35px 35px
        
        @media (max-width 480px)
            padding 10px
            
    
    &__title
        font-size 36px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 40px
        margin-bottom 100px
        
        strong
            color #de1929
            font-weight bold
            font-style italic   
        
        @media (max-width 480px)
            font-size 24px
            line-height 30px
            margin-bottom 60px    
    
    &__sub-title
        font-size 22px
        color #050505
        line-height 40px
        margin-bottom 25px
        
        strong
            font-weight 500

    &__input
        margin-bottom 18px
        
        input 
            font-size 18px
            color #050505
            font-weight 500
            line-height 40px
            width 100%
            padding 15px 50px
            border 1px solid transparent
            border-radius 50px
            background-color #f8f9fb
            box-shadow inset 0px 3px 10px 0px rgba(0, 0, 0, 0.05)
            
            @media (max-width 480px)
                font-size 16px
        
        ::placeholder
            font-size 18px
            color #050505
            line-height 40px   
            
            @media (max-width 480px)
                font-size 16px 
    
    &__btn-submit
        width 100%
        margin-top 12px        

    &__explanation
        font-size 18px
        color #8d9aa2
        font-weight normal
        line-height 38px
        margin-top 35px
        margin-bottom 20px
        
        @media (max-width 480px)
            font-size 15px
            line-height 24px
            margin-bottom 0
    
    &__timer
        font-size 30px
        color #de1929
        font-family : $fonts.additFont
        line-height 38px
        font-weight normal
        display flex    
        justify-content center
        align-items baseline
        
        span
            font-size 0
            margin-right 5px
            margin-left 5px
    
    &__timer-item
        display flex
        align-items baseline
    
    &__timer-namber
        font-size 30px
        color #de1929
        font-family : $fonts.additFont
        font-weight bold
        font-style italic
        line-height 38px
        margin-right 10px
        
        @media (max-width 480px)
            font-size 24px
            line-height 22px
    
    &__timer-date 
        font-size 20px
        color #de1929
        font-family : $fonts.additFont
        font-weight normal
        line-height 38px
        
        @media (max-width 480px)
            font-size 18px
            line-height 22px
        
        @media (max-width 375px)
            font-size 15px
    
    &__send-success
        text-align center
        display none
        &.success
            display block    
    
    &__send-success-icon
        width 154px
        height 154px
        display block
        background url('../img/send-success-icon.png') 0 0 no-repeat
        margin 35px auto -25px 
        
    &__send-success-message
        font-size 30px
        color #050505
        font-family : $fonts.additFont
        font-weight 800
        line-height 36px
        margin-bottom 10px
        
        @media (max-width 480px)
            font-size 24px
            line-height 28px
    
    &__send-success-desc
        font-size 18px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        line-height 24px
        margin-bottom 45px
        
        @media (max-width 480px)
            font-size 16px
            line-height 22px

.b-form--girl
    padding-top 180px
    box-shadow none
    background url('../img/b-form-girl.png') 50% 0 no-repeat
    
    @media (max-width 320px)
        padding-top 70px
        background url('../img/form-girl-bg-min.png') 50% 0 no-repeat
        
    &.success
        .b-form__send-success
            margin 0 auto
            display block !important
            
        .b-form__pic
            display none !important

    .b-form__section
        width 1210px
        display flex
        justify-content flex-end
        border none
        border-radius none
        
        @media (max-width 768px)
            display block

    .b-form__pic
        img
            max-width 100%

    .b-form__form
        position relative
        z-index 1
        max-width 450px
        width 100%
        margin-top 52px
        border-radius 10px
        box-shadow 0 30px 90px rgba(213, 220, 229, 0.5)
        background #fff
        
        &:before
            content ''
            position absolute
            top 10px
            left 10px
            right 10px
            bottom 10px
            z-index -1
            border-radius 10px
            border 1px solid #edeef0
        
        @media (max-width 768px)
            max-width 100%
    
    .b-form__title
        font-size 24px
        font-weight 500
        line-height 30px
        
        @media (max-width 768px)
            font-size 20px
            line-height 25px

        @media (max-width 320px)
            font-size 17px
            line-height 24px
    
    .b-form__inner
        padding-top 49px
        padding-left 30px
        padding-right 30px

        @media (max-width 320px)
            padding-left 18px
            padding-right 18px
    
    .b-form__title
        margin-bottom 37px
    
    .b-form__btn-submit
        @media (max-width 768px)
            font-size 16px
        
        @media (max-width 320px)
            font-size 14px
            line-height 18px
    
    .b-form__explanation
        @media (max-width 768px)
            font-size 18px
            line-height 20px
        
        @media (max-width 320px)
            font-size 15px
            line-height 20px
    
    .b-form__input input
        @media (max-width 320px)
            font-size 15px
            line-height 20px

.b-form--bottom
    margin-top -120px
    margin-bottom 100px
    padding 200px 0 0
    background url("../img/b-form-girl.png") 50% 0 no-repeat
    box-shadow none
    border none
    
    @media (max-width 970px)
        margin-top 0
    
    @media (max-width 480px)
        padding-top 130px
    
    @media (max-width 320px)
        padding-top 40px
        background url('../img/form-bg-min-bot.png') 50% 0 no-repeat
    
    &.success
        .b-form__send-success
            margin 0 auto
            display block !important
            
        .b-form__body
            display none !important

    .b-form__section.contain
        display flex
        width 1210px
        max-width 100%
        border-radius none
        border none
        box-shadow none
    
        @media (max-width 768px)
            display block

    .b-form__body
        position relative
        z-index 10
        flex 0 0 55%
        max-width 55%
        margin-right 60px
        
        @media (max-width 768px)
            max-width 100%
            margin-right 0
            margin-bottom 50px
    
    .b-form__form
        position relative
        z-index 1
        max-width 470px
        width 100%
        box-shadow 0 30px 90px rgba(213, 220, 229, 0.5)
        border-radius 10px
        background-color #ffffff
        
        &:before
            content ''
            position absolute
            top 10px
            left 10px
            right 10px
            bottom 10px
            z-index -1
            border-radius 10px
            border 1px solid #edeef0
        
        @media (max-width 768px)
            max-width 100%
    
    .b-form__inner
        padding-top 60px
    
    .b-dont-close
        position relative
        display flex
        justify-content space-between
        align-items center
        margin-top 0
        padding 60px
        overflow visible
        
        &:before
            content ''
            position absolute
            bottom 20%
            right -16%
            z-index 99
            width 215px
            height 87px
            background url('../img/form-bot-arrow.png') 0 0 no-repeat
            
            @media (max-width 1279px)
                display none
        
        .b-dont-close__info-old-price
            margin-bottom 0
        
    .b-form__title
        margin-bottom 45px
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        padding-top 70px
        position relative
        z-index 1
        
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 480px)
                width 35px
                height 20px
        
        strong:last-child
            color #050505
            font-style normal
        
        @media (max-width 1024px)
            font-size 40px
            line-height 45px
        
        @media (max-width 480px)
            font-size 24px
            line-height 30px
            padding-top 40px
    
    .b-form__sub-title
        font-size 25px
        font-weight 400
        line-height 34px
        color #8d9aa2
        
        @media (max-width 480px)
            font-size 16px
            line-height 24px
    
    .b-dont-close
        box-shadow 0 10px 90px rgba(213, 220, 229, 0.5)
        border-radius 30px
        background-color #ffffff
        
        @media (max-width 1200px)
            padding 30px

        @media (max-width 990px)
            display block
        
        @media (max-width 768px)
            display flex
        
        @media (max-width 600px)
            display block
    
    .b-form__input input
        height 86px
        
        @media (max-width 480px)
            height auto
    
    .b-form__btn-submit
        height 96px
        
        @media (max-width 480px)
            height auto
    
    .b-form__inner
        @media (max-width 480px)
            padding 30px
        
    .b-dont-close__cur-price,
    .b-dont-close__old-price
        @media (max-width 990px)
            font-size 35px
            line-height 40px
            
        @media (max-width 480px)
            font-size 24px
            line-height 40px
    
    .b-dont-close__info-old-price
        @media (max-width 990px)
            margin-bottom 40px !important
        
        @media (max-width 768px)
            margin-bottom 0 !important
            
        @media (max-width 600px)
            margin-bottom 40px !important

.b-form__send-success.formBot,
.b-form__send-success.formGirl
    display inline-block
    padding 10px
    border-radius 10px
    
    .b-form__body
        padding 20px
        border 1px solid #edeef0

.b-form.b-form--girl
    .b-form__send-success.formGirl
        display none

.b-form.b-form--bottom
    .b-form__send-success.formBot
        display none