<div block="b-form" mods="girl">
    <div elem="section" class="contain">
        <div elem="pic">
            <img src="img/b-form-girl-bg.png">
        </div>
        <form elem="form" action="">
            <div elem="inner">
                <div elem="head">
                    <div elem="title">
                        Эта скидка действительна <br>
                        <strong>только для вас</strong> и только <strong>в течении 
                        часа</strong> с момента, как вы открыли 
                        эту страницу. 
                    </div>
                </div>
                <div elem="items">
                    <div elem="input">
                        <input type="text" placeholder="Ваше имя" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш email" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш телефон" required>
                    </div>
                    <button elem="btn-submit" class="site-btn" type="submit">
                        Получить полную диагностику со скидкой 65%
                    </button>
                </div>
                <div elem="bot">
                    <div elem="explanation">Предложение закончится через:</div>
                    <div elem="timer" class="js-form-timer-girl"></div>
                </div>
            </div>
        </form>
        <div elem="send-success" class="formGirl" data-remodal-id="formGirl">
            <button data-remodal-action="close" class="remodal-close"></button>
            <div elem="body">
                <i elem="send-success-icon"></i>
                <div elem="send-success-message">Спасибо за заявку!</div>
                <div elem="send-success-desc">Наш менеджер скоро свяжется с Вами</div>
            </div>
        </div>
    </div>
</div><!-- b-form -->