<div block="b-form" mods="vebinar">
    <div elem="section">
        <form elem="form" action="">
            <div elem="inner">
                <div elem="head">
                    <div elem="title"><strong>Запишитесь</strong> <br> на бесплатный вебинар</div>
                </div>
                <div elem="items">
                    <div elem="input">
                        <input type="text" placeholder="Ваше имя" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш email" required>
                    </div>
                    <div elem="input">
                        <input type="text" placeholder="Ваш телефон" required>
                    </div>
                    <button elem="btn-submit" class="site-btn" type="submit">Записаться на вебинар <br> бесплатно</button>
                </div>
            </div>
        </form>
    </div>
</div><!-- b-form -->