<div block="b-menu" class="js-nav-to-anchor">
    <nav elem="nav">
        <ul>
            <li><a href="#our-advantages">Почему Amira</a></li>
            <li><a href="#our-specialists">О хирургах</a></li>
            <li><a href="#reviews">Отзывы</a></li>
            <li><a href="#about-prices">Цена</a></li>
        </ul>
    </nav>
</div><!-- b-menu -->