.b-menu
    margin-top 15px
    margin-right 20px
    
    &--footer
        width 215px
        margin 0
        
        & ^[0]
            
            &__nav
                
                ul
                    display block
                    
                    li
                        margin-right 0
                        margin-bottom 20px
        
        @media (max-width: 1365px)
            width auto        

    &__nav
        
        ul
            list-style-type none
            display flex
            padding-left 0
            margin-bottom 0
            
            li
                margin-right 45px
                
                &:last-child
                    margin-right 0

                a
                    font-size 16px
                    color #050505
                    font-weight 500
                    line-height 22px
                    transition color .3s
                    
                    &:hover
                        color #df1c2c
                        text-decoration none 