<div block="b-vebinar-info">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">На вебинаре <strong>вы узнаете:</strong></div>
            </div>
            <div elem="items">
                <div elem="item">
                    <ul elem="list" mods="left">
                        <li elem="list-item" mods="left-first">Как быстро и комфортно восстановиться после операции;</li>
                        <li elem="list-item" mods="left-second">Какие показания и противопоказания существуют к увеличению груди;</li>
                        <li elem="list-item" mods="left-third">Какие осложнения бывают после маммопластики и как их избежать;</li>
                        <li elem="list-item" mods="left-fourth">В чем заключается подготовка к маммопластике, что происходит на операции и сколько она длится;</li>
                    </ul>
                </div>
                <div elem="img"><img src="img/vebinar-info-pic.png" alt=""></div>
                <div elem="item">
                    <ul elem="list" mods="right">
                        <li elem="list-item" mods="right-first">Какие бывают имплантаты для груди и как их правильно выбрать;</li>
                        <li elem="list-item" mods="right-second">В чем особенность увеличения и коррекции груди после родов;</li>
                        <li elem="list-item" mods="right-third">Как грамотно выбрать клинику и хирурга для маммопластики, какие вопросы стоит задать.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-vebinar-info -->