.b-vebinar-info
    
    &__head
        text-align center
        margin-bottom 230px
        
        @media (max-width: 1365px)
            margin-bottom 50px
            
        @media (max-width: 640px)
            width 320px
            max-width 100%  
            margin-left auto
            margin-right auto 
        
        @media (max-width: 480px)
            width 155px
            margin-bottom 25px 
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        margin-bottom 15px
        
        strong
            color #de1929
            font-weight bold
        
        @media (max-width: 1279px)
            font-size 46px
            line-height 46px
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px
    
    &__items
        display flex
        justify-content space-between
        
        @media (max-width: 1365px)
            display block
            width 650px
            max-width 100%
            margin 0 auto
    
    &__item
        display flex    
        position relative
        
        @media (max-width: 1365px)
            display block
    
    &__list
        flex 0 0 300px
        width 300px
        max-width 300px
        list-style-type none
        padding-left 0
        margin-bottom 0
        display flex
        flex-direction column
        
        &--left
            
            & ^[0]
                
                &__list-item
                    &:after
                        right 0 
                    
                    &--left-first
                        &:after
                            top 5px
                            
                    &--left-second    
                        &:after
                            top 30px    
                            right 5px
                    
                    &--left-third
                        &:after
                            top 10px
                            right -70px   
                    
                    &--left-fourth
                        &:after        
                            right 110px
                            top 100px
        
        &--right
            
            & ^[0]
                
                &__list-item
                    &:after
                        left 0
                    
                    &--right-first
                        &:after
                            left -139px
                            top 20px
                    
                    &--right-second
                        &:after
                            left -90px
                            top 10px
                            
                            @media (min-width: 1440px)
                                left -100px 
                    
                    &--right-third
                        &:after
                            left -100px
                            top 15px
        
        @media (max-width: 1365px)
            width 100%
            max-width 100%
            display block

    &__list-item
        font-size 18px
        color #050505
        line-height 24px
        flex 0 0 300px
        width 300px
        max-width 300px
        position absolute
        &:after
            content ''
            position absolute
            width 90px
            height 90px
            background url('../img/vebinar-info-point-pic.png') 0 0 no-repeat
            z-index 2
        
        &--left-first
            bottom 38%
            left 5px
            padding-right 85px
        
        &--left-second
            top 30%
            padding-right 75px
        
        &--left-third
            top 10%
            left 20%
            padding-right 70px 
            
        &--left-fourth
            right -220%
            top -8%      
            text-align center
        
        &--right-first
            top 10%
            left -13%
            padding-right 60px  
        
        &--right-second  
            top 30%
            right -38%
            padding-right 50px
            
            @media (min-width: 1440px)
                right: -45%;
        
        &--right-third
            right -38%
            bottom 40%
            padding-right 45px 
        
        @media (max-width: 1365px)
            text-align left
            position relative
            top 0
            left 0
            width 100%
            max-width 100%
            padding-left 35px
            padding-right 0
            margin-bottom 35px
            &:before
                content ''
                position absolute
                top 5px
                left 0
                width 7px
                height 7px
                border-radius 50%
                background-color rgb(222, 25, 41)
                box-shadow 0px 7px 6px 0px rgba(222, 49, 65, 0.5)
            
            @media (max-width: 1279px)
                padding-left 25px 
            
            @media (max-width: 480px)
                font-size 16px
                line-height 20px
            
            &:after
                display none
        
        @media (max-width: 480px)
            margin-bottom 20px                         
    
    &__img
        flex 0 0 700px
        width 700px
        max-width 700px
        margin-left auto
        margin-right auto
        
        @media (max-width: 1365px)
            display none