.app-header
    flex none
    margin-bottom 120px
    
    @media (max-width: 1023px)
        margin-bottom 0
    
    &__section
        padding-top 30px
        padding-bottom 220px
        min-height 1085px
        background url('../img/first-screen-bg.png') 50% 0 no-repeat
        position relative
        
        @media (max-width: 1279px)
            min-height auto
            padding-bottom 170px
            background-size cover
        
        @media (max-width: 1023px)
            padding-top 115px
        
        @media (max-width: 480px)
            padding-bottom 130px    
        
    &__items
        display flex
        align-items center
        justify-content space-between
        margin-bottom 70px
        
        @media (max-width: 1279px)
            margin-bottom 50px
            
        
        @media (max-width: 1023px)
            display none

.inner-page
    
    .app-header
        margin-bottom 0

.vebinar-page
    .app-header
        margin-bottom 0       