<header block="app-header" mix="block:mt-4">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item">
                    {% include "b-logo.html" %}
                </div>

                {% if pageTitle == "Главная" %}
                <div elem="item">
                    {% include "b-menu.html" %}
                </div>
                {% endif %}
                
                <div elem="item">
                    {% include "b-contacts.html" %}
                </div>
            </div>
            
            {% if pageTitle == "Главная" %} {% include "b-first-screen-info.html" %} {% endif %}
            {% if pageTitle == "Inner-page" %} {% include "b-first-screen-info-inner.html" %} {% endif %}
            {% if pageTitle == "Vebinar" %} {% include "b-first-screen-info-vebinar.html" %} {% endif %}
            
        </div>
    </div>
</header><!-- b:app-header -->
