.b-about-prices
    padding-bottom 150px
    
    &__head
        width 647px
        max-width 100%
        margin 0 auto
        text-align center
        margin-bottom 60px
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px    
        margin 0 auto 30px
        padding-top 75px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
        
        strong
            font-weight bold
            font-style italic
    
    &__desc
        font-size 18px
        color #050505
        font-weight normal
        line-height 24px      
    
    &__items
        display flex
        flex-wrap wrap
        margin-bottom 60px
    
    &__item
        flex 0 0 280px
        width 280px
        max-width 280px
        display flex
        flex-direction column
        padding 30px 30px 15px 30px
        margin-right 15px
        border 2px solid #e3e6ed
        border-radius 15px
        transition border-color .3s
        position relative
        &:last-child
            margin-right 0
        
        &:hover
            border-color #de1929
            text-decoration none
    
    &__top
        flex 1 1 auto        
                
    
    &__name
        font-size 20px
        color #050505
        font-weight 500
        line-height 26px
        display block
        margin-bottom 15px
    
    &__price
        font-size 20px
        color #de1929
        font-weight bold
        line-height 32px
        display block
        padding-top 15px
        border-top 1px solid #e3e6ed
        
        &--text
            font-size 16px
            line-height 20px
    
    &__more
        display block
        position absolute
        top 20px
        right 30px
        cursor pointer
        
        // &:active
            
        //     & ^[0]
        //         &__text
        //             opacity 1
        //             z-index 1
        i
            font-size 13px
            color #fff
            font-weight bold
            line-height 20px
            background-color #de1929
            width 20px
            height 20px
            padding 1px 0 0 7px
            border-radius 50%
            display inline-block
            vertical-align top
        
        // &:hover
            
        //     & ^[0]
                
        //         &__text
        //             opacity 1
        //             z-index 1

    
    &__text
        font-size 14px
        color #7f889a
        font-weight normal
        line-height 18px
        position absolute
        top 35px
        right -160px
        display block
        width 200px
        padding 10px 20px
        border-radius 10px
        background-color #fff
        box-shadow -1px 8px 20px 5px rgba(213,220,229,0.5)
        opacity 0
        transition opacity .3s
        z-index -1
        cursor default
        &:before
            content ''
            position absolute
            top -6px
            left 25px
            width 0
            height 0
            border-style solid
            border-width 0 5px 6px 5px
            border-color transparent transparent #ffffff transparent
            
            @media (max-width: 600px)
                left auto
                right 25px
        
        &.more-text-is-active
            opacity 1
            z-index 1        
        
        @media (max-width: 600px)
            right -20px    
    
    &__foot
        text-align center 
    
    &__btn-detail-price
        width 350px
        margin 0 auto
        &:after
            top -35px
            right -125px
            width 91px
            height 96px
            background url('../img/about-prices-arr.png') 0 0 no-repeat
            

@media (max-width 1200px)
    .b-about-prices__item
        flex 0 0 48%
        max-width 48%
        margin 0 0 20px 2%
    
    .b-about-prices__title:before
        top 20px

@media (max-width 1024px)
    .b-about-prices__title
        font-size 40px
        line-height 45px

    .b-about-prices__desc
        font-size 17px

    .b-about-prices__head
        margin-bottom 30px
    
    .b-about-prices
        padding-bottom 90px

@media (max-width 600px)
    .b-about-prices__item
        flex 0 0 100%
        width 100%
        max-width 100%
        margin-left 0
    
    .b-about-prices
        padding-bottom 70px

@media (max-width 320px)
    .b-about-prices__title
        font-size 24px
        line-height 30px

    .b-about-prices__desc
        font-size 15px
    
    .b-about-prices__name
        font-size 19px

    .b-about-prices__title:before
        width 34px
        height 20px
        background-size contain

    .b-about-prices__title
        margin-bottom 15px
        padding-top 55px