<div block="b-about-prices" id="about-prices">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Теперь <strong>о ценах</strong></div>
                <div elem="desc">Мы сформировали прайс с единой стоимостью на маммопластику — суммы отличаются лишь за счет стоимости выбранных имплантатов и объема операции. Вы платите только цену, указанную в прайсе, без доплат:</div> 
            </div>
            <div elem="items">
                <div elem="item">
                    <span elem="top">
                        <span elem="name">Увеличение груди</span>
                    </span>
                    <span elem="bot">
                        <span elem="price">900 000 - 2 000 000</span>
                    </span>
                    <span elem="more" class="js-about-prices-more">
                        <i>?</i>
                        <span elem="text" class="js-about-prices-text">(цена отличается в зависимости от вида имплантатов)</span>
                    </span>
                </div>
                <div elem="item">
                    <span elem="top">
                        <span elem="name">Подтяжка груди</span>
                    </span>
                    <span elem="bot">
                        <span elem="price">550 000 - 750 000</span>
                    </span>
                    <!-- <span elem="more" class="js-about-prices-more">
                        <i>?</i>
                        <span elem="text" class="js-about-prices-text">(цена отличается в зависимости от вида имплантатов)</span>
                    </span> -->
                </div>
                <div elem="item">
                    <span elem="top">
                        <span elem="name">Редукционная маммопластика</span>
                    </span>
                    <span elem="bot">
                        <span elem="price">750 000 - 1 000 000</span>
                    </span>
                    <span elem="more" class="js-about-prices-more">
                        <i>?</i>
                        <span elem="text" class="js-about-prices-text">(цена отличается в зависимости от вида имплантатов)</span>
                    </span>
                </div>
                <div elem="item">
                    <span elem="top">
                        <span elem="name">Изменение формы одной груди</span>
                    </span>
                    <span elem="bot">
                        <span elem="price" mods="text">70% от стоимости операции</span>
                    </span>
                    <!-- <span elem="more" class="js-about-prices-more">
                        <i>?</i>
                        <span elem="text" class="js-about-prices-text">(цена отличается в зависимости от вида имплантатов)</span>
                    </span> -->
                </div>
            </div>
            <div elem="foot">
                <a elem="btn-detail-price" class="site-btn" href="#" data-remodal-target="detailed-price">Посмотреть <br> детальный прайс</a>
                {% include 'b-detailed-price.html' %}
            </div>
            
        </div>
    </div>
</div><!-- b-about-prices -->