<div block="b-contacts">
    <div elem="inner">
        <div elem="phones">
            <a elem="phone" href="tel:77477676188">+7 747 767-61-88</a>
            <a elem="phone" href="tel:77273927228">+7 727 392-72-28</a>
        </div>
        <a elem="btn-call" href="#" data-remodal-target="contacts">Перезвоните мне</a>
    </div>
</div><!-- b-contacts -->