.b-contacts
    
    &--footer
        
        & ^[0]
            
            &__phone
                margin-bottom 5px
            
            &__btn-call
                color #dd1929   
                padding 15px 35px
                border 2px solid #dd1929
                border-radius 50px
                padding 15px 35px
        
        @media (max-width: 767px)
            text-align center
            margin-bottom 35px        
        
    &__title
        font-size 16px
        color #050505
        line-height 22px    
        margin-bottom 5px
    
    &__phone
        font-size 22px
        color #050505
        font-weight bold
        line-height 22px
        display block
        
        &:hover
            color initial
            text-decoration none
    
    &__email
        font-size 16px
        color #050505
        line-height 24px 
        display block  
        margin-bottom 5px
        
        &:hover
            color initial     
    
    &__btn-call
        font-size 15px
        color #37baf7   
        font-weight normal
        line-height 22px
        transition color .3s
        display block
        
        @media (max-width: 375px)
            width 280px
        
        &:hover
            color #df1c2c
            text-decoration none