.b-logo
    
    &--footer
        
        & ^[0]
            
            &__inner
                width 180px
                display block
                
                @media (max-width: 767px)
                    display flex
                    width auto
                    margin-bottom 35px
            
            &__img
                
                @media (max-width: 480px)
                    flex 0 0 90px
                    width 90px
                    max-width 90px
                    margin-right 13px     
    
    &__inner
        display flex
        align-items center
        width 330px
        max-width 100%
    
    &__img
        flex 0 0 116px
        width 116px
        max-width 116px
        display block
        font-size 0
        margin-right 25px    
        
        img
            max-width 100%
            height auto
    
    &__desc
        font-size 14px
        color #050505
        font-weight bold
        line-height 19px
        margin-top 10px