<div block="b-logo" mods="footer">
    <div elem="inner">
        <a elem="img" href="/"><img src="img/logo.png" alt="Logo"></a>
        <div elem="desc">Клиника пластической <br> хирургии и косметологии</div>
    </div>
</div><!-- b-logo -->