.b-mobile-panel
    display none
    flex none
    position fixed
    top 0
    left 0
    width 100%
    z-index 1000
    background-color #fff
    
    @media (max-width: 1023px)
        display block
        
        .b-contacts
            &__phone
                font-size 18px
                
            &__btn-call 
                display none 
    
    @media (max-width: 639px)
    
        .b-logo
            
            &__inner
                width auto
                justify-content center
            
            &__img
                flex 0 0 85px
                width 85px
                max-width 85px
                margin-right 0
                
            &__desc
                display none   
    
    @media (max-width: 440px)         
        
        .b-contacts
            display none   
    
    &__section
        width 100%
        padding 10px 20px
        border-bottom 2px solid #c6c6c6
        
        @media (max-width: 639px)
            padding-top 13px
            padding-bottom 12px

    &__items
        display flex
        align-items center
        justify-content space-between
    
    &__nav
        
        .b-menu
            background-color #fff
            width 320px
            position absolute
            top 73px
            left -320px
            padding 20px
            z-index 100
            height 100vh
            overflow-y auto
            transition left .3s
            box-shadow inset 0px 30px 90px 0px rgba(213,220,229,0.5)
            
            &.menu-is-active
                left 0
            
            @media (max-width: 639px)
                top 71px
             
            @media (max-width: 440px)
                top 64px     
    
    &__btn-burger
        display block
        width 25px
        height 21px
        padding 0
        background-color #fff
        position relative
        border none
        cursor pointer

        span
            &:before
                transform translateY(-8px)
            &:after
                transform translateY(8px)

    &__btn-burger span,
    &__btn-burger span:before,
    &__btn-burger span:after
        position absolute
        top 50%
        left 0
        margin-top -1px
        width 25px
        height 3px
        background-color #000

    &__btn-burger span:before,
    &__btn-burger span:after
        content ''
        display block
        transition 0.2s

    .btn-burger-is-active
        span
            height 0
            &:before
                transform rotate(45deg)
            &:after
                transform rotate(-45deg)        
    
    &__overlay-menu
        display none
        position fixed
        top 73px
        width 100%
        bottom -5000px
        left 0
        background: rgba(43, 46, 56, 0.9);
        z-index -1
        opacity 0
        transition opacity .3s
        
        &.overlay-is-active
            display block  
            left 0
            transition opacity .3s
            opacity 1   
            z-index 100
        
        @media (max-width: 639px)
            top 71px
        
        @media (max-width: 440px)
            top 64px       

.inner-page
    
    .b-mobile-panel
        
        &__nav
            display none
        
        .b-contacts
            @media (max-width: 440px)     
                display block

.vebinar-page
    
    .b-mobile-panel
        
        &__nav
            display none
        
        .b-contacts
            @media (max-width: 440px)     
                display block            