<div block="b-mobile-panel">
    <div elem="section">
        <div elem="items">
            <div elem="nav">
                <button elem="btn-burger" class="js-btn-burger" type="button"><span></span></button>
                <div elem="overlay-menu"></div>
                {% include 'b-menu-footer.html' %}
            </div>
            <div elem="logo">
                {% include 'b-logo.html' %}
            </div>
            <div elem="contacts">
                {% include 'b-contacts.html' %}
            </div>
        </div>
    </div>
</div><!-- b-mobile-panel -->