.b-complex-diagnostic
    
    &__head--mobile
        display none
        
        @media (max-width 480px)
            display block
    
    &__head--desktop
        @media (max-width 480px)
            display none
        
    
    &__title
        position relative
        margin-bottom 150px
        padding-top 70px
        font-size 54px
        font-family : $fonts.additFont
        font-weight 400
        line-height 60px
        color #050505
        text-align center
        
        strong
            color #de1929
        
        @media (max-width 970px)
            margin-bottom 50px
            
        @media (max-width 768px)
            font-size 40px
            line-height 45px

        @media (max-width 480px)
            padding-top 0
            margin-top -33%
            margin-bottom 20px
            font-size 24px
            line-height 30px
    
    &__pic
        position relative
        max-width 100%
        width 100%
        margin 0 auto
        text-align center
        
        img
            max-width 100%
            
    &__img--maxWidth
        @media (max-width 970px)
            display none

    &__img--minWidth
        display none
        
        @media (max-width 970px)
            display block
    
    &__list-items
        position absolute
        top 0
        left 0
        width 100%
        height 100%
        text-align left
        
        @media (max-width 970px)
            position relative
            display flex
            flex-wrap wrap
            margin-top -50px
        
        @media (max-width 480px)
            margin-top 0

    &__list-item
        position relative
        font-size 18px
        font-weight 400
        line-height 24px
        color #050505
    
    &__list-item:nth-child(1n)
        position absolute
        top 0
        left 3%
        right auto
        
        @media (max-width 1024px)
            top 10%
        
        @media (max-width 970px)
            position relative
            top 0
            left 0
            right 0

    &__list-item:nth-child(2n)
        position absolute
        top 0
        right 3%
        left auto
        
        @media (max-width 1024px)
            top 10%
        
        @media (max-width 970px)
            position relative
            top 0
            left 0
            right 0
    
    &__list-item:nth-child(3n)
        position absolute
        top 210px
        left 0
        right auto
        
        @media (max-width 1200px)
            top 300px
        
        @media (max-width 1024px)
            top 300px
        
        @media (max-width 970px)
            position relative
            top 0
            left 0
            right 0
    
    &__list-item:nth-child(4n)
        position absolute
        top 210px
        right 0
        left auto
        
        @media (max-width 1200px)
            top 300px
        
        @media (max-width 1024px)
            top 300px
        
        @media (max-width 970px)
            position relative
            top 0
            left 0
            right 0
    
    &__list-item
        @media (max-width 970px)
            position relative
            flex 0 0 50%
            max-width 50%
            padding 0 0 30px 30px
            
            &:before
                content ''
                position absolute
                top 10px
                left 0
                width 17px
                height 19px
                background url('../img/diagnostic-circle.png') 0 0 no-repeat
        
        @media (max-width 480px)
            flex 0 0 100%
            max-width 100%
            font-size 16px
            line-height 20px
