<div block="b-complex-diagnostic">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head" mods="desktop">
                <div elem="title">Комплексная диагностика<strong> поможет:</strong></div>
            </div>
            <div elem="pic">
                <div elem="img" mods="maxWidth">
                    <img src="img/complex-bg2.png">
                </div>
                <div elem="img" mods="minWidth">
                    <img src="img/complex-bg.png">
                </div>
                <div elem="head" mods="mobile">
                    <div elem="title">Комплексная диагностика<strong> поможет:</strong></div>
                </div>
                <div elem="list-items">
                    <div elem="list-item">
                        понять, как лучше<br>ухаживать именно за вашей<br>кожей;
                    </div>
                    <div elem="list-item">
                        определить процедуры, которые<br>важны для профилактики<br>старения вашей кожи;
                    </div>
                    <div elem="list-item">
                        определить общее<br>состояние здоровья кожи<br> 
                        и организма;
                    </div>
                    <div elem="list-item">
                        грамотно подобрать<br>домашний уход,<br>подходящий именно для<br>вас.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-complex-diagnostic -->