.b-vebinar-in-company
    margin-bottom 150px
    
    .b-advantages
        background none
        padding 0
        margin-top 50px
        margin-bottom 50px
        
        &__head
            display none
    
    @media (max-width 959px)
        margin-bottom 40px
    
    &__head
        width 820px
        max-width 100%
        margin 0 auto
        text-align center
        margin-bottom 70px
        
        @media (max-width 959px)
            margin-bottom 40px
        
        @media (max-width 639px)
            margin-bottom 20px    
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px    
        margin 0 auto 40px
        padding-top 75px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 479px)
                width 35px
        
        strong
            color #de1929
            font-weight bold
        
        @media (max-width 959px)
            font-size 40px
            line-height 45px 
            margin-bottom 15px
        
        @media (max-width: 479px)
            font-size 24px
            line-height 30px
            padding-top 30px       
    
    &__desc
        font-size 24px
        color #8d9aa2
        font-weight normal
        line-height 32px
        
        @media (max-width 959px)
            font-size 17px
            line-height 24px
    
    &__img
        width 880px
        max-width 100%
        margin-right auto
        margin-left auto
        margin-bottom -150px
        
        img
            max-width 100%
            height auto
        
        @media (max-width: 640px)
            width 550px
            margin-bottom -100px
        
        @media (max-width: 440px)
            margin-bottom -50px
    
    &__items
        display flex
        justify-content space-around
        margin-bottom 100px
        
        @media (max-width: 1023px)
            flex-wrap wrap
        
        @media (max-width: 767px)
            margin-bottom 25px    
     
    &__item
        flex 0 0 250px
        width 250px
        max-width 250px
        text-align center
        
        &:first-child,
        &:last-child
            transform translateY(-100px)
            
            @media (max-width: 1023px)
                transform translateY(0)
        
        @media (max-width: 1023px)
            flex 0 0 50%
            width 50%
            max-width 50%
            margin-bottom 25px
            
            &:nth-child(1)
                order -1
            
            &:nth-child(4)
                order 4    
                
            &:nth-child(4)
                order -1
    
    &__name
        font-size 48px
        color #de1929
        font-family : $fonts.additFont
        font-weight bold
        line-height 60px
        
        small
            font-size 36px
            
            @media (max-width: 639px)
                font-size 18px
        
        @media (max-width: 639px)
            font-size 24px    
            line-height 30px
    
    &__text
        font-size 18px
        color #8d9aa2
        line-height 26px
        
        @media (max-width: 639px)
            font-size 16px
            line-height 18px
            width 100px
            max-width 100%
            margin-right auto
            margin-left auto

.b-extra-info
    width 880px
    max-width 100%
    margin 0 auto
    background-color #de1929
    border-radius 30px
    box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
    
    &__body
        padding 15px 40px
        display flex
        align-items center
        position relative
        &:before
            content ''
            position absolute
            top 30px
            left 45px
            width 57px
            height 49px
            background url('../img/left-quote-pic.png') 0 0 no-repeat
            z-index 1
            
            @media (max-width 375px) 
                top 15px
                left 30px
        
        @media (max-width: 767px)
            display block 
            text-align center
            padding 40px 30px 30px   
    
    &__img
        flex 0 0 160px
        width 160px
        max-width 160px
        margin-right 5px
        
        img
            max-width 100%
            height auto
        
        @media (max-width: 767px)
            margin 20px auto
    
    &__title
        font-size 30px
        color #fff
        font-family : $fonts.additFont
        font-weight 500
        line-height 36px
        margin-right 25px
        position relative
        z-index 2
        
        strong
            font-weight bold
            
            span
                font-style italic
        
        @media (max-width: 959px)
            font-size 24px
            line-height 26px
        
        @media (max-width: 767px)    
            width 400px
            max-width 100%
            margin-right auto
            margin-left auto 
        
        @media (max-width 639px) 
            width 300px
        
        @media (max-width 375px) 
            font-size 18px
            line-height 22px 
            width 200px    
    
    &__text
        font-size 16px
        color #fff
        line-height 22px
        flex 0 0 200px
        width 200px
        max-width 200px
        
        strong
            font-weight bold
        
        @media (max-width: 767px)
            width 300px
            max-width 100%
            margin-right auto
            margin-left auto    