<div block="b-vebinar-in-company">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Вебинар разработан в <br> <strong>Amira Clinic</strong></div>
                <div elem="desc">В создании этого вебинара участвовали ведущие специалисты клиники Amira — первопроходцы в пластической хирургии Казахстана.</div>
            </div>
            <!-- <div elem="img"><img src="img/vebinar-in-company.png" alt=""></div>
            <div elem="items">
                <div elem="item">
                    <div elem="name">12 <small>лет</small></div>
                    <div elem="text">опыта в пластической <br> хирургии</div>
                </div>
                <div elem="item">
                    <div elem="name">100+ <small>услуг</small></div>
                    <div elem="text">предлагает Amira Clinic</div>
                </div>
                <div elem="item">
                    <div elem="name">10 000 +</div>
                    <div elem="text">довольных клиентов</div>
                </div>
                <div elem="item">
                    <div elem="name">98 <small>лет</small></div>
                    <div elem="text">общий стаж наших <br> хирургов</div>
                </div>
            </div> -->
            {% include 'b-advantages.html' %}
            <div block="b-extra-info">
                <div elem="body">
                    <div elem="title">Всем, кто <strong>зарегистрируется на вебинар — <span>в подарок:</span></strong></div>
                    <div elem="img"><img src="img/slip-paper-pic.png" alt=""></div>
                    <div elem="text">Чек-лист <strong>"ТОП-6 мифов о маммопластике"</strong></div>
                </div>
            </div><!-- b-extra-info -->
        </div>
    </div>
</div><!-- b-vebinar-in-company -->