<div block="b-our-advantages" id="our-advantages">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Почему стоит обратиться <br> в <strong>Amira Clinic</strong></div>
            </div>
            <ul elem="list-items">
                <li elem="list-item">
                    <div elem="name">Подробная первичная консультация</div>
                    <div elem="text">На первой консультации хирург внимательно выслушает ваши пожелания, и индивидуально подберет для вас форму, марку и размер импланта. Мы расскажем все, что нужно знать и ответим на все ваши вопросы, чтобы вы чувствовали себя спокойно и уверенно.</div>
                </li>
                <li elem="list-item">
                    <div elem="name">Прозрачная система оплаты</div>
                    <div elem="text">Мы за прозрачные и понятные отношения. Поэтому в Amira Clinic сформирована единая цена на маммопластику безо всяких доплат. Мы объясним, из чего состоит лечение и дадим детальную смету, чтобы вы четко знали, сколько и за что платите. </div>
                </li>
                <li elem="list-item">
                    <div elem="name">Тщательная подготовка к операции</div>
                    <div elem="text">Перед маммопластикой нужно обязательно пройти обследование маммолога, сделать УЗИ груди и флюорографию, сдать ряд анализов. Мы ответственно подходим к любому вмешательству, и благодаря этому процент осложнений в Amira Clinic минимален.</div>
                </li>
                <li elem="list-item">
                    <div elem="name">Гарантия на результат</div>
                    <div elem="text">Мы уверены в своей работе, поэтому предоставляем вам гарантию на результат операции. Конечно, гарантия действительна, если вы будете выполнять предписания врача и посещать все необходимые осмотры. </div>
                </li>
            </ul>
        </div>
    </div>
</div><!-- b-our-advantages -->