.b-our-advantages
    background url('../img/our-advantages-bg.png') 0 0 no-repeat
    
    &__section
        position relative
        &:after
            content ''
            position absolute
            top -170px
            right 100px
            width 616px
            height 590px
            background url('../img/our-advantages-pic.png') 50% 0 no-repeat
            background-size contain
            
            @media (max-width: 1919px)
                width 550px
                height 530px
            
            @media (max-width: 1599px)
                width 490px
                height 475px
            
            @media (max-width: 1439px)
                top -135px
                right 80px
            
            @media (max-width 1023px)
                width 400px
                top -50px    
            
            @media (max-width 960px)
                width 350px
                top -50px
                right 0     
             
            @media (max-width 640px)
                width 220px    
                height 200px
                top -30px
                
    &__head
        margin-bottom 60px
        
        @media (max-width 640px)
            margin-bottom 40px
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        padding-top 70px
        position relative
        z-index 1
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 480px)
                width 35px
                height 20px
        
        @media (max-width: 480px)
            padding-top 30px        
        
        strong
            font-weight bold
            font-style italic
        
        @media (max-width 640px)
            font-size 46px
            line-height 50px     
        
        @media (max-width 480px)
            font-size 24px
            line-height 30px
            width 245px
            max-width 100%
    
    &__list-items
        display flex
        flex-wrap wrap
        justify-content space-between 
        list-style-type none
        padding-left 0
        margin-bottom 0
        
        @media (max-width 1023px)
            display block
    
    &__list-item
        flex 0 0 530px
        width 530px
        max-width 530px
        padding-left 40px
        margin-bottom 50px
        position relative
        &:before
            content ''
            position absolute
            top 6px
            left 0
            width 5px
            height 42px
            background-color #de1929
            border-radius 5px
        
        @media (max-width 1279px)
            flex 0 0 480px
            width 480px
            max-width 480px   
        
        @media (max-width 1023px)
            width 100%
            max-width 100%    
        
        @media (max-width: 480px)
            padding-left 30px    
            margin-bottom 30px
    
    &__name
        font-size 24px
        color #050505
        font-weight bold
        line-height 32px
        margin-bottom 20px
        
        @media (max-width 480px)
            font-size 18px
            line-height 24px
            margin-bottom 10px
                
    &__text
        font-size 20px
        color #8d9aa2
        font-weight normal            
        line-height 28px
        
        @media (max-width 480px)
            font-size 16px
            line-height 22px