.b-congrats
    padding-top 250px
    padding-bottom 200px
    background url('../img/congrats-bg.png') 50% 0 no-repeat
    background-size cover
    overflow hidden
    
    @media (max-width 1024px)
        padding-top 150px
        padding-bottom 150px
    
    @media (max-width 480px)
        padding-top 90px
        padding-bottom 185px
        background url('../img/congrats-bg-min.jpg') 50% 0 no-repeat
        background-size cover
    
    &__inner
        display flex
        position relative

    &__head
        position relative
        max-width 595px
        width 100%
        margin 0
        
        &:before
            content ''
            position absolute
            bottom 0
            right 0
            width 97px
            height 84px
            background url('../img/arrow-congrats.png') 0 0 no-repeat
            
            @media (max-width 1279px)
                display none
    
    &__title
        position relative
        margin-bottom 50px
        padding-top 70px
        font-size 60px
        font-family : $fonts.additFont
        font-weight 700
        line-height 72px
        color #050505
        
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 71px
            height 43px
            background url(../img/main-title-pic.png) 0 0 no-repeat
            background-size contain
            
            @media (max-width 600px)
                width 34px
                height 20px
        
        @media (max-width 1024px)
            font-size 40px
            line-height 50px
        
        @media (max-width 768px)
            margin-bottom 20px
        
        @media (max-width 600px)
            padding-top 40px
            font-size 30px
            line-height 40px
        
        @media (max-width 480px)
            font-size 24px
            line-height 30px
            padding-right 4%

    &__title-span
        color #de1929
    
    &__sub-title
        font-size 25px
        font-weight 400
        line-height 34px
        color #8d9aa2
        
        @media (max-width 1024px)
            font-size 20px
            line-height 35px
        
        @media (max-width 600px)
            font-size 18px
            line-height 25px
        
        @media (max-width 480px)
            font-size 16px
            line-height 24px
    
    &__pic
        @media (max-width 500px)
            position absolute
            top -28%
            right -8%
            
        img
            max-width 100%
            @media (max-width 500px)
                width 195px
                height 151px