<div block="b-congrats">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="head">
                <div elem="title">
                    Поздравляю, вы
                    <span elem="title-span">
                        зарегистрировались 
                        на вебинар!
                    </span>
                </div>
                <div elem="sub-title">
                    Ваш подарок и письмо со ссылкой на трансляцию придут на почту в течении 10 минут.
                </div>
            </div>
            <div elem="pic">
                <img src="img/congrats-pic.png">
            </div>
        </div>
    </div>
</div><!-- b-congrats -->