<div block="b-advantages">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">
                    <span elem="title-span">
                        Amira Clinic —
                    </span>
                    первопроходцы <br> в <strong>пластической хирургии Казахстана.</strong>
                </div>
            </div>
            <div elem="pic">
                <img src="img/doctors.png">
            </div>
            <div elem="items">
                <div elem="item">
                    <div elem="item-title"><span>12</span> лет</div>
                    <div elem="item-sub-title">опыта в пластической <br> хирургии</div>
                </div>
                <div elem="item">
                    <div elem="item-title"><span>100+</span> услуг</div>
                    <div elem="item-sub-title">предлагает Amira Clinic </div>
                </div>
                <div elem="item">
                    <div elem="item-title"><span>10 000 +</span></div>
                    <div elem="item-sub-title">довольных клиентов</div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-advantages -->