.b-advantages
    padding-top 190px
    padding-bottom 130px
    margin-top -55px
    background url('../img/adv-bg.png') 50% 0 no-repeat
    
    &__head
        text-align center
        margin-bottom 150px
        
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        line-height 60px
        font-weight normal
        padding-top 72px
        position relative
        
        &:before
            content ''
            position absolute
            top 0
            left 50%
            width 71px
            height 43px
            margin-left -44px
            background url('../img/main-title-pic.png') 0 0 no-repeat
        
    &__title-span
        color #de1929
        font-weight bold
    
    &__pic
        text-align center

    &__items
        display flex
        justify-content space-between
        margin-top -30px
        
        @media (max-width 768px)
            margin-top 45px

    &__item
        text-align center
    
    &__item:nth-child(2n)
        padding-top 95px

    &__item:nth-child(3n)
        padding-top 34px
    
    &__item-title
        margin-bottom 7px
        font-size 36px
        font-family : $fonts.additFont
        font-weight 700
        line-height 36px
        color #de1929

        span
            font-size 48px

    &__item-sub-title
        font-size 18px
        font-family : $fonts.additFont
        font-weight 500
        line-height 26px
        color #8d9aa2
    
    &__pic
        img
            max-width 100%

@media (max-width 1200px)
    .b-advantages
        padding-top 100px

@media (max-width 1024px)
    .b-advantages__title
        font-size 40px
        line-height 45px
    
    .b-advantages__head
        margin-bottom 40px

@media (max-width 768px)
    .b-advantages__item:nth-child(3n)
        padding-top 0

    .b-advantages__item-title
        font-size 22px
        line-height 30px

        span
            font-size 30px
            line-height 30px

@media (max-width 500px)
    .b-advantages
        padding-bottom 55px

    .b-advantages__items
        margin-top 45px

    .b-advantages__title
        font-size 30px
        line-height 35px
    
    .b-advantages__item-title
        font-size 18px
        line-height 18px

        span
            font-size 24px
            line-height 24px

@media (max-width 320px)
    .b-advantages
        background url('../img/adv-min.png') 50% 0 no-repeat

    .b-advantages__item:nth-child(2n)
        padding-top 45%
    
    .b-advantages__title
        padding-top 36px
    
    .b-advantages__title:before
        width 34px
        height 20px
        margin-left -20px
        background-size cover
    
    .b-advantages__item-title
        span
            font-size 21px
            line-height 24px