.b-mammoplasty
    
    &__section
        position relative
        background-color #fefefe
        
    &__items
        display flex
        
        @media (max-width: 1023px)
            display block
    
    &__item
        
        &--left
            flex 0 0 810px
            width 810px
            max-width 810px
            position absolute
            top 0
            left 100px
            
            @media (max-width: 1919px)
                left 25px
                flex 0 0 700px
                width 700px
                max-width 700px
            
            @media (max-width: 1599px)
                top 25px
                left 0    
            
            @media (max-width: 1439px)
                flex 0 0 600px
                width 600px
                max-width 600px
            
            @media (max-width: 1365px)
                flex 0 0 450px
                width 450px
                max-width 450px 
            
            @media (max-width: 1023px)
                display none    
        
        &--right
            flex 0 0 550px
            width 550px
            max-width 550px
            margin-left auto
            
            @media (max-width: 1365px)
                flex 0 0 535px
                width 535px
                max-width 535px
            
            @media (max-width: 1023px)
                width 550px
                max-width 100%
                margin 0 auto
    
    &__img
        
        img
            max-width 100%
            height auto
    
    &__img-in-mobile
        display none
        
        img
            max-width 100%
            height auto
        
        @media (max-width: 1023px)  
            display block   
            width 550px
            max-width 100%        
    

    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        padding-top 70px
        margin-bottom 85px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 480px)
                width 35px
                height 20px
        
        span
            font-weight bold
            font-style italic
        
        @media (max-width: 1365px)
            margin-bottom 35px   
        
        @media (max-width: 1023px)  
            font-size 46px
            line-height 50px  
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px 
            padding-top 30px        
    
    &__list-items
        list-style-type none
        padding-left 0
        margin-bottom 0    
        display flex
        flex-wrap wrap
        justify-content space-between  
        
        @media (max-width: 639px)
            display block  
    
    &__list-item
        flex 0 0 250px
        width 250px
        max-width 250px
        margin-bottom 55px  
        
        @media (max-width: 639px)
            display flex
            width 100%
            max-width 100%
            margin-bottom 30px
        
        @media (max-width: 480px)   
            &:last-child
                margin-bottom 0
        
    
    &__namber
        font-size 36px
        color #fff
        font-family serif
        font-weight bold
        line-height 37px
        text-align center
        display inline-block
        vertical-align top
        padding 10px 20px
        margin-bottom 25px
        border-radius 7px
        background linear-gradient( 360deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
        box-shadow 0px 10px 20px 0px rgba(222,49,65,0.5)
        
        @media (max-width: 639px)
            flex 0 0 75px
            width 75px
            max-width 75px
            align-self baseline
            margin-right 20px
        
    &__text
        font-size 18px
        color #8d9aa2
        font-weight normal
        line-height 24px
        
        @media (max-width: 480px)  
            font-size 16px
            line-height 20px