<div block="b-mammoplasty">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item" mods="left">
                    <div elem="img"><img src="img/mammoplasty-img.png" alt=""></div>
                </div>
                <div elem="item" mods="right">
                    <div elem="head">
                        <div elem="title"><span>Маммопластика — </span><br> идеальное решение, если:</div>
                    </div>

                    <ul elem="list-items">
                        <li elem="list-item">
                            <div elem="namber">01</div>
                            <div elem="text">Вы хотите увеличить грудь, сделать ее пышной и  соблазнительной</div>
                        </li>
                        <li elem="list-item">
                            <div elem="namber">02</div>
                            <div elem="text">Вам нужна подтяжка или коррекция формы, например, после родов</div>
                        </li>
                        <li elem="list-item">
                            <div elem="namber">03</div>
                            <div elem="text">Вы устали от большой груди, хотите поднять ее и уменьшить</div>
                        </li>
                        <li elem="list-item">
                            <div elem="namber">04</div>
                            <div elem="text">Вы хотите скорректировать ассиметрию или другие проблемы с грудью</div>
                        </li>
                    </ul>

                    <div elem="img-in-mobile"><img src="img/mammoplasty-img.png" alt=""></div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-mammoplasty -->