.app-footer
    flex none
    
    &--inner
        
        .b-contacts__title
            margin-bottom 10px
         
        .b-contacts__phones
            margin-bottom 10px    
        
        .b-contacts__btn-call
            display none
        
        .b-sicial-link__title
            margin-bottom 15px    
    
    &__section
        padding-top 80px
        padding-bottom 80px
        box-shadow inset 0px 30px 90px 0px rgba(213,220,229,0.5)
        
        @media (max-width: 767px)
            padding-top 30px
            padding-bottom 30px
    
    &__items
        display flex
        justify-content space-between
        
        @media (max-width: 767px)
            flex-direction column
            align-items center
    
    &__item
        
        &--menu
            
            @media (max-width: 767px)
                display none        
    
    &__btn-call
        font-size 15px
        color #dd1929   
        text-align center
        padding 15px 35px
        border 2px solid #dd1929
        border-radius 50px
        padding 15px 35px    
        margin-top 15px
        display inline-block
        vertical-align top
        &:hover
            color #dd1929
            text-decoration none
        
        @media (max-width: 375px)
            width 280px    