<footer block="app-footer" {% if pageTitle == "Inner-page" %} mods="inner" {% endif %}>
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item">
                    {% include "b-logo-footer.html" %}
                </div>

                {% if pageTitle == "Главная" %}    
                <div elem="item" mods="menu">
                    {% include "b-menu-footer.html" %}
                </div>
                {% endif %}

                <div elem="item">
                    {% include "b-contacts-footer.html" %}
                </div>
                <div elem="item">
                    {% include "b-sicial-link.html" %}
                </div>

                {% if pageTitle == "Inner-page" %}
                <div elem="item">
                    <a elem="btn-call" href="#" data-remodal-target="contacts">Перезвоните мне</a>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</footer><!-- b:app-footer -->
