.b-sicial-link   
    
    &__inner
        width 185px
    
    &__items
        display flex 
        flex-wrap wrap
        
    &__title
        font-size 16px
        color #050505
        line-height 22px    
        margin-bottom 10px
    
    &__link
        width 50px
        height 50px
        display flex
        justify-content center
        align-items center
        background-color #dd1929
        border-radius 50%
        margin-right 10px
    
    &__icon
        
        img
            max-width 100%
            height auto    
                