<div block="b-sicial-link">
    <div elem="inner">
        <div elem="title">Мы в социальных сетях:</div>
        <div elem="items">
            <a elem="link" href="https://www.instagram.com/amira_clinic/">
                <i elem="icon"><img src="img/inst-icon.png" alt=""></i>
            </a>
            <a elem="link" href="https://www.facebook.com/amira_clinic">
                <i elem="icon"><img src="img/fb-icon.png" alt=""></i>
            </a>
            <a elem="link" href="https://vk.com/amira_clinic">
                <i elem="icon"><img src="img/vk-icon.png" alt=""></i>
            </a>
        </div>
    </div>
</div><!-- b-sicial-link -->