<div block="b-answers-questions">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Отвечаем на ваши вопросы</div>
                <div elem="sub-title">Краткие ответы на распространенные вопросы девушек.</div>
            </div>
            <div elem="items">
                <div elem="item">
                    <div elem="body">
                        <div elem="name" class="js-answers-questions-acc">Какими будут швы после операции, их будет видно?</div>
                        <div elem="text">Это зависит от индивидуальных особенностей организма. В большинстве случаев со временем шрамы становятся почти незаметными.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="name" class="js-answers-questions-acc">Буду ли я чувствовать, что в груди есть имплантат?</div>
                        <div elem="text">Физически импланты абсолютно не чувствуются и не мешает вести обычный образ жизни.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="body">
                        <div elem="name" class="js-answers-questions-acc">Будет ли грудь отличаться на ощупь от натуральной?</div>
                        <div elem="text">Импланты подбираются в зависимости от предпочтений клиента, можно подобрать максимально натуральный на ощупь  и на внешний вид имплант</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div><!-- b-answers-questions -->