.b-answers-questions
    padding-top 50px
    padding-bottom 70px
    
    &__head
        text-align center
        margin-bottom 70px
        
        @media (max-width: 767px)
            margin-bottom 30px
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight bold
        font-style italic
        line-height 60px
        padding-top 75px
        margin-bottom 30px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 480px)
                width 35px
                height 20px
            
        @media (max-width: 767px)
            font-size 46px
            line-height 40px  
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px
            padding-top 30px
                 
    
    &__sub-title
        font-size 18px
        color #050505
        font-weight normal
        line-height 24px
        
     
    &__items
        width 800px
        max-width 100%
        margin 0 auto
    
    &__item
        padding 5px 7px
        margin-bottom 20px
        border-radius 15px
        background-color #fff
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        &:last-child
            margin-bottom 0
        
        @media (max-width: 480px)
            margin-bottom 10px    
        
    &__body
        border 1px solid #eaeef4
        border-radius 10px  
    
    &__name
        font-size 22px
        color #050505
        font-weight 500
        line-height 22px
        padding 20px 30px
        cursor pointer
        position relative 
        &:after
            content ''
            position absolute
            top 20px
            right 30px
            width 16px
            height 16px
            border-right 2px solid #de1929
            border-bottom 2px solid #de1929
            transform rotate(45deg)
            transition transform .3s
        
        &.js-answers-questions-is-active
            &:after
                top 25px
                transform rotate(-135deg)
        
        @media (max-width: 480px)
            font-size 16px
            line-height 20px  
            padding 15px 60px 15px 15px
        
    &__text
        font-size 16px
        color #8d9aa2
        font-weight normal
        line-height 22px
        width 650px
        max-width 100%
        display none
        margin-top 20px
        padding 0 30px 30px