<div block="b-dont-close">
    <div elem="section" class="contain">
        <div elem="inner">
            <div elem="banner">
                <div elem="banner-title">
                    Пожалуйста, не закрывайте страницу
                </div>
                <div elem="banner-sub-title">
                    Мне приятно, что на вебинар регистрируются девушки, которые ценят <br>
                    свою внешность и с любовью ухаживают за собой.
                </div>
            </div>
            <div elem="head">
                <div elem="title">
                    Поэтому мне хотелось бы 
                    сделать
                    <span elem="title-span">
                        вам подарок:
                    </span>
                </div>
            </div>
            <div elem="info">
                <div elem="info-bg">
                    <div elem="info-title">
                        Комплексная диагностика 
                        дерматокосметолога
                        <span>со скидкой 65%!</span>
                    </div>
                    <div elem="info-body">
                        <div elem="info-old-price">
                            <div elem="old-price-title">
                                Полная стоимость:
                            </div>
                            <div elem="old-price">
                                8500 <span>тенге</span>
                            </div>
                        </div>
                        <div elem="info-cur-price">
                            <div elem="cur-price-title">
                                Цена для участниц вебинара:
                            </div>
                            <div elem="cur-price">
                                3000 <span>тенге</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-dont-close -->