.b-dont-close
    margin-top -120px
    padding-bottom 125px
    overflow hidden

    @media (max-width 768px)
        padding-bottom 55px
    
    @media (max-width 480px)
        margin-top -120px
    
    &__banner
        position relative
        z-index 5
        display block
        max-width 877px
        width 100%
        margin 0 auto 88px
        padding 64px 50px 73px
        text-align center
        border-radius 30px
        background-color #de1929
        background-image linear-gradient(to top, #de1929 0%, #f54f5c 100%)
        box-shadow 0 10px 0px #bf212e
        
        @media (max-width 480px)
            margin-bottom 35px
            padding 30px 25px 30px
    
    &__banner-title
        display block
        margin-bottom 28px
        font-size 36px
        font-family : $fonts.additFont
        font-weight 700
        line-height 34px    
        color #ffffff
        
        @media (max-width 480px)
            font-size 20px
            line-height 24px

    &__banner-sub-title
        display block
        font-size 18px
        font-weight 400
        line-height 24px
        color #ffffff
        
        @media (max-width 480px)
            font-size 16px
            line-height 24px

    &__head
        position relative
        max-width 435px
        width 100%
        margin 0 auto
        text-align center
    
    &__title
        position relative
        margin-bottom 47px
        font-size 36px
        font-family : $fonts.additFont
        font-weight 700
        line-height 42px
        color #050505
        
        @media (max-width 768px)
            font-size 30px
            line-height 40px
            z-index 6
        
        @media (max-width 480px)
            margin-bottom 76px
            font-size 22px
            line-height 26px
        
    &__title-span
        color #de1929
    
    &__info-bg
        position relative
        z-index 2
        display flex
        padding 61px 50px 69px
        box-shadow 0 10px 90px rgba(213, 220, 229, 0.5)
        border-radius 30px
        background-color #ffffff
        
        @media (max-width 1024px)
            padding 30px
        
        @media (max-width 768px)
            display block

    &__info
        position relative
        z-index 2
        
        &:before
            content ''
            position absolute
            top -215px
            left -101px
            z-index -1
            width 223px
            height 261px
            background url('../img/dc-gift1.png') 0 0 no-repeat
            
            @media (max-width 480px)
                top -50%
                

        &:after
            content ''
            position absolute
            top -174px
            right -336px
            z-index -1
            width 421px
            height 525px
            background url('../img/dc-gift2.png') 0 0 no-repeat
            background-size contain

            @media (max-width 480px)
                width 115px
                height 144px
                top -20%
                right -5%
                z-index 2

    &__info-title
        flex 0 0 65%
        max-width 65%
        margin-right 100px
        font-size 54px
        font-family : $fonts.additFont
        font-weight 700
        line-height 62px
        color #050505

        span
            display block
            color #de1929
        
        @media (max-width 1024px)
            margin-right 3%
            font-size 40px
            line-height 50px
        
        @media (max-width 768px)
            margin-right 0
            margin-bottom 40px

        @media (max-width 600px)
            font-size 35px
            line-height 40px

        @media (max-width 480px)
            font-size 22px
            line-height 28px

    
    &__body
        flex 0 0 35%
        max-width 35%
        
    &__info-old-price    
        margin-bottom 38px

    &__old-price-title
        font-size 18px
        font-weight 400
        line-height 18px
        color #8d9aa2
        
        @media (max-width 480px)
            font-size 15px
            line-height 15px
        

    &__old-price
        position relative
        font-size 48px
        font-family : $fonts.additFont
        font-weight 700
        line-height 56px
        color #050505
        
        &:before
            content ''
            position absolute
            top 50%
            left -6px
            width 122px
            height 6px
            margin-top -8px
            background-color #de1929
            transform rotate(-6deg)
            
        span
            font-size 24px
            color #8d9aa2
        
        @media (max-width 600px)
            font-size 35px
            line-height 40px
            
        @media (max-width 480px)
            font-size 24px
            line-height 40px
    
    &__cur-price-title
        font-size 18px
        font-weight 700
        line-height 18px
        color #de1929
        
        @media (max-width 480px)
            font-size 15px
            line-height 15px
    
    &__cur-price
        font-size 48px
        font-family : $fonts.additFont
        font-weight 700
        line-height 56px
        color #de1929

        span
            font-size 24px
            color #8d9aa2
        
        @media (max-width 600px)
            font-size 35px
            line-height 40px
        
        @media (max-width 480px)
            font-size 24px
            line-height 40px