.b-our-specialists
    padding-top 280px
    padding-bottom 80px
    margin-top -55px
    background url('../img/our-specialists-bg.png') 50% 0 no-repeat
    
    @media (max-width: 480px)
        padding-top 185px
        padding-bottom 0
    
    &__inner
        width 1445px
        max-width 100%  
    
    &__head
        text-align center
        margin-bottom 95px
        
        @media (max-width: 1279px)
            margin-bottom 0
        
    &__title
        font-size 54px
        font-family : $fonts.additFont
        font-weight normal
        color #050505
        line-height 60px
        
        span
            color #de1929
            font-weight bold
            font-style italic
        
        strong
            font-weight bold
        
        @media (max-width: 1279px)
            font-size 46px
            line-height 50px 
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px       
    
    &__items
        
        &.owl-carousel .owl-stage-outer
            padding-top 50px    
            padding-bottom 50px
            
            @media (max-width: 480px)
                padding-top 25px
                
        .owl-nav
            display flex
            width 142px
            border 9px solid #fff
            border-radius 50px
            position absolute
            bottom 110px
            left 50%
            transform translateX(-310%)
            background-color #fff
            
            @media (max-width: 1279px)
                top 50%
                bottom auto
                transform translate(-50%, -195%)
            
            @media (max-width: 580px)
                transform translate(-50%, -215%) 
            
            @media (max-width: 480px)
                transform translate(-50%, -15px)   
            
            @media (max-width: 440px)
                transform translate(-50%, -70px) 
            
            @media (max-width: 375px)
                transform translate(-50%, -120px) 
            
            @media (max-width: 320px)
                transform translate(-50%, -210px)                    
        
        .owl-prev,
        .owl-next
            width 60px
            height 66px  
            border-top-left-radius 50px
            border-bottom-left-radius 50px
        
        .owl-prev
            background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 360deg, rgb(79,80,84) 0%, rgb(113,115,118) 100%) 
            margin-right 5px
            &:hover
                background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 360deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
                box-shadow 0px 2px 6px 0px rgba(255,255,255,0.7), 0px 2px 20px 0px rgba(201,35,49,0.4)
        
        .owl-next
            transform rotate(180deg)
            background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 180deg, rgb(79,80,84) 0%, rgb(113,115,118) 100%) 
            &:hover
                box-shadow 0px -2px 6px 0px rgba(255,255,255,0.7), 0px -7px 20px 0px rgba(201,35,49,0.4)
                background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 180deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
        
        .owl-dots
            display flex
            align-items center
            position absolute
            bottom 65px
            left 50%
            transform translateX(-545%)
            
            @media (max-width: 1279px)
                top 50%
                bottom auto
                transform translate(-45%, -380%)
            
            @media (max-width: 580px)       
                transform translate(-45%, -485%)
            
            @media (max-width: 480px)
                transform translate(-45%, 90px)   
            
            @media (max-width: 440px)
                transform translate(-45%, 40px)    
            
            @media (max-width: 375px)
                transform translate(-45%, -15px)  
            
            @media (max-width: 320px)
                transform translate(-45%, -105px)     
                
        .owl-dot
            width 15px
            height 15px
            border 5px solid transparent
            border-radius 50%
            margin-right 5px
            
            span
                background-color #a5a8aa
                display block   
                height 5px
                border-radius 50%
                
            &:last-child
                margin-right 0
            
            &.active
                border 5px solid #de1929
                
                span      
                    background-color #fff        
    
    &__item
        display flex
        width 1200px
        max-width 100%
        margin-left auto
        margin-right auto
        
        @media (max-width: 1279px)
            display block
        
        @media (max-width: 480px)
            *
                box-shadow none 
    
    &__img
        flex 0 0 470px
        width 470px
        max-width 470px
        align-self start
        border 15px solid #fff
        border-radius 25px
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        
        img
            max-width 100%
            height auto
        
        @media (max-width: 1279px)
            width 470px
            max-width 100%
            margin 0 auto    
            margin-bottom 95px
    
    &__body
        flex 0 0 550px
        width 550px
        max-width 550px
        margin-left 90px  
        
        @media (max-width: 1279px)
            width 550px
            max-width 100%
            margin 0 auto 
            padding-left 50px   
        
        @media (max-width: 480px)
            padding-left 0       
     
    &__name
        font-size 46px
        color #000
        font-family : $fonts.additFont
        font-weight bold
        line-height 52px
        margin-bottom 25px
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px
            margin-bottom 5px
    
    &__position
        font-size 22px
        color #8d9aa2
        font-weight normal
        line-height 24px
        margin-bottom 55px

        @media (max-width: 480px)
            font-size 18px
            margin-bottom 20px
    
    &__list
        list-style-type none
        padding-left 0
        margin-bottom 0
        position relative
        z-index 2
        
        li
            font-size 24px
            color #050505
            font-weight normal
            line-height 36px
            padding-left 35px
            margin-bottom 30px
            position relative
            &:before
                content ''
                position absolute
                top 12px
                left 0
                width 7px
                height 7px
                border-radius 50%
                background-color rgb(222, 25, 41)
                box-shadow 0px 7px 6px 0px rgba(222, 49, 65, 0.5)
            
            @media (max-width: 480px)
                font-size 16px
                line-height 20px
                padding-left 30px
                margin-bottom 20px        
    
    &__btn-watch-results
        width 350px
        margin-top 15px
        &:after
            top -15px
            right -110px
            width 82px
            height 73px
            background url('../img/our-specialists-arr.png') 0 0 no-repeat