.b-certificates
    padding-top 302px
    padding-bottom 105px
    background url('../img/certificates-bg.png') 50% 0 no-repeat
    
    &--popup
        padding-top 30px !important
        padding-bottom 20px !important
        background #fff !important
        width 1024px
        max-width 100%
        border-radius 10px
        
        & ^[0]
            
            &__head
                margin-bottom 10px
            
            &__title
                font-size 36px
                line-height 40px
                
                @media (max-width 1200px)
                    font-size 26px
                    line-height 28px
    
    &__head
        text-align center
        margin-bottom 95px
        
    &__title
        font-size 54px
        font-family : $fonts.additFont
        font-weight normal
        color #050505
        line-height 60px
        
    &__title-span
        display block
        color #de1929
        font-weight bold
    
    &__items
        &.owl-carousel .owl-stage-outer
            padding-top 25px    
            padding-bottom 36px
            padding-left 12px
        
    &__item
        display block
        padding 10px
        box-shadow 0 3px 25px #c9d4ea
        border-radius 10px
        background-color #ffffff
    
    .owl-nav
        display flex !important
        justify-content center
        
        .owl-prev,
        .owl-next
            width 60px
            height 66px
            font-size 0
        
        .owl-prev
            margin-right 4px
            margin-left -16px
            border-radius 33px 3px 3px 33px
            transition background 0.3s
            background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(180deg, #4f5054 0%, #717376 100%)

            &:hover,
            &:active,
            &:focus
                box-shadow 0 15px 20px rgba(201, 35, 49, 0.4), 0 2px 6px rgba(255, 255, 255, 0.7)
                background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(to top, #de1929 0%, #f54f5c 100%)
        
        .owl-next
            border-radius 33px 3px 3px 33px
            transform rotate(180deg)
            background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(to top, #4f5054 0%, #717376 100%)

            &:hover,
            &:active,
            &:focus
                box-shadow 0 -15px 20px rgba(201, 35, 49, 0.4), 0 2px 6px rgba(255, 255, 255, 0.7)
                background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(180deg, #de1929 0%, #f54f5c 100%)
                
@media (max-width 1200px)
    .b-certificates
        padding-top 200px

@media (max-width 1024px)
    .b-certificates__title
        font-size 40px
        line-height 45px
    
    .b-certificates__head
        margin-bottom 30px

@media (max-width 500px)
    .b-certificates__title
        font-size 30px
        line-height 35px

@media (max-width 320px)
    .b-certificates
        margin-top 0
        padding-top 79px
        background url("../img/cerf-bg-min.png") 50% 0 no-repeat

    .b-certificates__title
        font-size 23px
        line-height 30px
        font-weight bold
        font-style italic

    .b-certificates__title-span
        font-style normal

.lb-nav a.lb-prev,
.lb-nav a.lb-next
    position relative
    font-size 0
    background none
    
    &:before
        content ''
        position absolute
        top 50%
        margin-top -30px
        margin-left 0 !important
        width 60px
        height 66px
        font-size 0

.lb-nav a.lb-prev:before
    left 0
    margin-right 4px
    margin-left -16px
    border-radius 33px 3px 3px 33px
    transition background 0.3s
    // background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(180deg, #4f5054 0%, #717376 100%)
    box-shadow 0 15px 20px rgba(201, 35, 49, 0.4), 0 2px 6px rgba(255, 255, 255, 0.7)
    background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(to top, #de1929 0%, #f54f5c 100%)

.lb-nav a.lb-next:before
    right 0
    border-radius 33px 3px 3px 33px
    transform rotate(180deg)
    // background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(to top, #4f5054 0%, #717376 100%)
    box-shadow 0 -15px 20px rgba(201, 35, 49, 0.4), 0 2px 6px rgba(255, 255, 255, 0.7)
    background url("../img/left-arrow-pic.png") 50% 50% no-repeat, linear-gradient(180deg, #de1929 0%, #f54f5c 100%)

.lb-data .lb-close
    display none

.lb-outerContainer
    .lb-close
        position absolute
        width 60px
        height 60px
        background #fff
        border-radius 50%
        display block
        top -30px
        right -30px
        margin 0
        padding 0
        cursor pointer
        transition color 0.2s
        text-decoration none
        color #95979c
        border 0
        outline 0
        opacity 1
        
        &:hover:before
            color #de1929
        
        @media (max-width 768px)
            right 50%
            transform translateX(50%)
        
        &:before
            position absolute
            top 13px
            right 11px
            display block
            width 35px
            content "\00d7"
            text-align center
            line-height 35px
            font-size 55px
            color #000
            font-family : $fonts.additFont
            font-weight 200
