<div block="b-certificates">
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="head">
                <div elem="title">
                    Сертификаты и награды
                    <span elem="title-span">
                        Урмурзина Данияра Кайратовича
                    </span>
                </div>
            </div>
            <div elem="items" class="owl-carousel js-certificates">
                <a href="img/srf1.png" data-lightbox="roadtrip" elem="item">
                    <img src="img/srf1.png">
                </a>
                <a href="img/srf2.png" data-lightbox="roadtrip" elem="item">
                    <img src="img/srf2.png">
                </a>
                <a href="img/srf3.png" data-lightbox="roadtrip" elem="item">
                    <img src="img/srf3.png">
                </a>
                <a href="img/srf4.png" data-lightbox="roadtrip" elem="item">
                    <img src="img/srf4.png">
                </a>
                <a href="img/srf5.png" data-lightbox="roadtrip" elem="item">
                    <img src="img/srf5.png">
                </a>
            </div>
        </div>
    </div>
</div><!-- b-certificates -->