<div block="b-certificates" mods="popup" class="remodal popup-certificates" data-remodal-id="certificates">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section" class="full-contain">
        <div elem="inner">
            <div elem="head">
                <div elem="title">
                    Сертификаты и награды
                    <span elem="title-span">
                        Урмурзина Данияра Кайратовича
                    </span>
                </div>
            </div>
            <div elem="items" class="owl-carousel js-certificates">
                <div elem="item">
                    <img src="img/srf1.png">
                </div>
                <div elem="item">
                    <img src="img/srf2.png">
                </div>
                <div elem="item">
                    <img src="img/srf3.png">
                </div>
                <div elem="item">
                    <img src="img/srf4.png">
                </div>
                <div elem="item">
                    <img src="img/srf5.png">
                </div>
            </div>
        </div>
    </div>
</div><!-- b-certificates -->