<div block="b-included-diagnostic">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Что входит в комплексную<br><strong>диагностику</strong></div>
            </div>
            <ul elem="list-items">
                <li elem="list-item">
                    <div elem="name">Консультация дерматокосметолога</div>
                    <div elem="text">
                        Доктор осмотрит вашу кожу, уточнит информацию о заболеваниях и приеме препаратов, даст рекомендации по салонным процедурам и домашнему уходу за кожей.
                    </div>
                </li>
                <li elem="list-item">
                    <div elem="name">Аппаратная диагностика состояния кожи</div>
                    <div elem="text">
                        Специальный аппарат для диагностики за 20 минут определит состояние вашей кожи, а дерматокосметолог трактует результаты и даст рекомендации на их основе.
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div><!-- b-included-diagnostic -->