.b-included-diagnostic
    background url('../img/included-diagnostic-bg.png') 50% 0 no-repeat
    
    @media (max-width 320px)
        background url('../img/included-diagnostic-bot-min.png') 50% 0 no-repeat

    &__section
        padding-bottom 230px
        background url('../img/included-diagnostic-bot.png') 50% 100% no-repeat
        
        @media (max-width 768px)
            padding-bottom 150px
        
        @media (max-width 320px)
            padding-bottom 90px
    
    &__inner
        padding-top 280px

        @media (max-width 768px)
            padding-top 230px
        
        @media (max-width 320px)
            padding-top 80px
    
    &__head
        margin-bottom 85px
        
        @media (max-width 640px)
            margin-bottom 40px
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        padding-top 70px
        position relative
        z-index 1
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 480px)
                width 35px
                height 20px
        
        @media (max-width: 480px)
            padding-top 30px        
        
        strong
            font-weight bold
            font-style italic
        
        @media (max-width 768px)
            font-size 46px
            line-height 50px     
        
        @media (max-width 480px)
            font-size 24px
            line-height 30px
            width 245px
            max-width 100%
    
    &__list-items
        display flex
        flex-wrap wrap
        justify-content space-between 
        list-style-type none
        padding-left 0
        margin-bottom 0
        
        @media (max-width 1023px)
            display block
    
    &__list-item
        flex 0 0 530px
        width 530px
        max-width 530px
        padding-left 30px
        margin-bottom 50px
        position relative
        &:before
            content ''
            position absolute
            top 6px
            left 0
            width 5px
            height 42px
            background-color #de1929
            border-radius 5px
        
        @media (max-width 1279px)
            flex 0 0 480px
            width 480px
            max-width 480px   
        
        @media (max-width 1023px)
            width 100%
            max-width 100%    
        
        @media (max-width: 480px)
            padding-left 30px    
            margin-bottom 30px
    
    &__name
        font-size 24px
        color #050505
        font-weight bold
        line-height 32px
        margin-bottom 20px
        
        @media (max-width 480px)
            font-size 18px
            line-height 24px
            margin-bottom 10px
                
    &__text
        font-size 20px
        color #8d9aa2
        font-weight normal            
        line-height 28px
        
        @media (max-width 480px)
            font-size 16px
            line-height 22px