<div block="b-first-screen-info" mods="inner">
    <div elem="section">
        <div elem="inner">
            <div elem="body">
                <div elem="head">
                    <div elem="title"><strong>Маммопластика</strong> у Урмурзина <br> Данияра Кайратовича:</div>
                </div>
                <div elem="img-in-mobile">
                    <img src="img/first-screen-img2-mob2.png" alt="Маммопластика у Урмурзина Данияра Кайратовича">
                </div>
                <div elem="desc">главный врач, пластический хирург клиники пластической хирургии и косметологии Amira</div>
                <ul elem="list">
                    <li>22 года общемедицинского стажа и 15 лет опыта в пластической хирургии</li>
                    <li>председатель этического комитета Общественного объединения пластических, реконструктивных и эстетических хирургов Казахстана</li>
                    <li>член международной конфедерации IPRAS, Российского общества пластических, реконструктивных и эстетических хирургов</li>
                </ul>
                <a elem="btn-advice" class="site-btn" href="#" data-remodal-target="specialist">Записаться на консультацию <br> к Данияру Кайратовичу</a>
                
                <div elem="bot">
                    <div elem="explanation">Предложение закончится через:</div>
                    <div elem="timer" class="js-first-screen-inner-timer">
                        <!-- <div elem="timer-item">
                            <div elem="timer-namber">23</div>
                            <div elem="timer-date">часов</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">59</div>
                            <div elem="timer-date">минут</div>
                        </div>
                        <span>:</span>
                        <div elem="timer-item">
                            <div elem="timer-namber">00</div>
                            <div elem="timer-date">секунд</div>
                        </div> -->
                    </div>
                </div>
            </div>

            <div elem="img">
                <img src="img/first-screen-img2.png" alt="Маммопластика у Урмурзина Данияра Кайратовича">
            </div>

        </div>
    </div>
</div><!-- b-first-screen-info -->