<div block="b-first-screen-info">
    <div elem="section">
        <div elem="inner">
            <div elem="body">
                <div elem="head">
                    <div elem="title">Маммопластика <br> в <strong>Алматы</strong></div>
                </div>
                <div elem="desc">Увеличение и коррекция груди от Amira Clinic — первопроходцев в пластической хирургии Казахстана</div>
                <div elem="advantages-items">
                    <div elem="advantages-item">
                        <div elem="number">12</div>
                        <div elem="text">12 месяцев полной гарантии на маммопластику <span class="small-text">(при соблюдении рекомендаций врача)</span></div>
                    </div>
                    <div elem="advantages-item">
                        <div elem="number">40</div>
                        <div elem="text">от 40 минут в среднем длиться операция и выписка через сутки</div>
                    </div>
                    <div elem="advantages-item">
                        <div elem="number">13</div>
                        <div elem="text">13 лет — средний стаж наших хирургов</div>
                    </div>
                </div>
                <div elem="img-in-mobile">
                    <img src="img/first-screen-img.png" alt="Маммопластика в Алматы">
                </div>
                <a elem="btn-advice" class="site-btn" href="#" data-remodal-target="sign-up">Записаться <br> на консультацию</a>
            </div>

            <div elem="img">
                <img src="img/first-screen-img.png" alt="Маммопластика в Алматы">
            </div>

        </div>
    </div>
</div><!-- b-first-screen-info -->