<div block="b-first-screen-info" mods="vebinar">
    <div elem="section">
        <div elem="inner">
            <div elem="body">
                <div elem="head">
                    <div elem="title">Все, что вы <strong>хотели знать</strong> <br> об <strong>увеличении груди</strong></div>
                </div>
                <div elem="desc">Бесплатный вебинар для девушек, которые мечтают о маммопластике</div>
                <ul elem="list">
                    <li>Что учесть при выборе имплантов для груди</li>
                    <li>Как выбрать клинику для маммопластики</li>
                    <li>Все о восстановлении после операции</li>
                </ul>
                <div elem="img-in-mobile">
                    <img src="img/first-screen-img2-mob2.png" alt="Маммопластика у Урмурзина Данияра Кайратовича">
                    <div elem="extra">
                        <div elem="extra-title">Вебинар ведет</div>
                        <div elem="name">Урмурзин Данияр</div>
                        <div elem="extra-text">эксперт в пластической хирургии, председатель этического комитета ОПРЭХ и главный врач Amira Clinic</div>
                    </div>
                </div>
                <a elem="btn-advice" class="site-btn" href="#" data-remodal-target="specialist">Записаться на вебинар <br> бесплатно</a>
            </div>

            <div elem="img">
                <img src="img/first-screen-img2.png" alt="Маммопластика у Урмурзина Данияра Кайратовича">
                <div elem="extra">
                    <div elem="extra-title">Вебинар ведет</div>
                    <div elem="name">Урмурзин Данияр</div>
                    <div elem="extra-text">эксперт в пластической хирургии, председатель этического комитета ОПРЭХ и главный врач Amira Clinic</div>
                </div>
            </div>

        </div>
    </div>
</div><!-- b-first-screen-info -->