.b-first-screen-info
    
    &--inner
        
        & ^[0]
            &__head
                margin-bottom 25px    
        
            &__title
                font-size 60px
                
                @media (max-width: 640px)
                    font-size 54px
                
                @media (max-width: 480px)   
                    font-size 24px 
                    line-height 30px
                    padding-top 40px
                    
                    &:before
                        width 51px    
            
            &__img-in-mobile
                width 255px
                
                img
                    max-width 100%
                    height auto    
            
            &__img
                flex 0 0 632px
                width 632px
                max-width 632px
                right 125px
                top 131px
                
                @media (max-width: 1919px)
                    flex 0 0 560px
                    width 560px
                    max-width 560px
                    right 130px
                    top 260px
                
                @media (max-width: 1440px)
                    right 35px
                    top 235px
                
                @media (max-width: 1279px)
                    flex 0 0 460px
                    width 460px
                    max-width 460px
                    top auto
                    bottom 0    
    
    &--vebinar
        
        & ^[0]
            
            &__head
                margin-bottom 25px    
        
            &__title
                font-size 60px
                
                @media (max-width: 640px)
                    font-size 54px
                
                @media (max-width: 480px)   
                    font-size 24px 
                    line-height 30px
                    padding-top 40px
                    
                    &:before
                        width 51px  
            
            &__desc
                margin-bottom 150px 
                
                @media (max-width: 1023px)
                    margin-bottom 35px             
            
            &__img-in-mobile
                width 255px
                position relative
                
                img
                    max-width 100%
                    height auto    
                
                @media (max-width: 480px)
                    margin-right auto      
                    margin-left auto
            
            &__img
                flex 0 0 632px
                width 632px
                max-width 632px
                right 125px
                top 131px
                
                @media (max-width: 1919px)
                    flex 0 0 560px
                    width 560px
                    max-width 560px
                    right 130px
                    top 260px
                
                @media (max-width: 1440px)
                    right 35px
                    top 235px
                
                @media (max-width: 1279px)
                    flex 0 0 460px
                    width 460px
                    max-width 460px
                    top auto
                    bottom 0
            
            &__list
                width 770px
                display flex
                justify-content space-between
                flex-wrap wrap
                margin-bottom 130px
                
                li
                    font-size 17px
                    padding-left 30px
                    flex 0 0 245px
                    width 245px
                    max-width 245px
                    &:before
                        content ''
                        position absolute
                        top 0
                        left 0
                        height 23px
                        border-radius 5px
                        background linear-gradient(360deg, #de1929 0%, #f54f5c 100%)
                        box-shadow none
                    
                    @media (max-width: 1599px)
                        width 100%
                        max-width 100%    
                
                @media (max-width: 1919px)
                    width 750px     
                
                @media (max-width: 1599px)
                    width 500px
                    display block
                    margin-bottom 50px
                
                @media (max-width: 1023px)
                    margin-bottom 20px   
         
            &__extra
                
                &:after
                    @media (max-width: 1023px)
                        right 70px
                    
                    @media (max-width: 480px)    
                        right auto
                        left 45px
                
                @media (max-width: 1023px)
                    position relative
                    margin-left -60px
                    margin-top -125px
                    top 0
                    box-shadow 0px 5px 15px 0px rgba(195, 201, 215, 0.3)
                
                @media (max-width: 480px)    
                    width 280px
                    padding 20px 25px
                    margin-left -25px
            
            &__btn-advice
                margin-top 100px
                
                @media (max-width: 1023px)
                    margin-top 20px

    &__inner
        display flex
    
    &__head
        margin-bottom 40px    
        
        @media (max-width: 640px)
            margin-bottom 20px
    
    &__title
        font-size 78px
        color #050505
        font-family : $fonts.additFont
        font-weight 500
        line-height 72px
        padding-top 70px
        position relative
        
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
        
        strong
            color #de1929
        
        @media (max-width: 1279px)
            font-size 70px    
        
        @media (max-width: 640px)
            font-size 54px
            line-height 56px
        
        @media (max-width: 480px)   
            font-size 24px 
            line-height 30px
            padding-top 40px
            
            &:before
                width 51px
                
    
    &__desc
        font-size 25px
        color #8d9aa2
        font-weight normal
        line-height 34px
        padding-left 60px
        width 640px
        max-width 100%
        margin-bottom 40px
        
        @media (max-width: 1279px)
            font-size 22px
        
        @media (max-width: 640px)
            padding-left 0
        
        @media (max-width: 480px)   
            font-size 16px
            line-height 24px    

    &__body
        position relative
        z-index 1
        
        @media (max-width: 1023px)
            width 100%
            display flex
            flex-direction column
            align-items center
        
        @media (max-width: 480px)   
            display block    
    
    &__advantages-items
        width 640px
        max-width 100%
        display flex 
        justify-content space-between
        
        @media (max-width: 639px) 
            display block
    
    &__advantages-item
        flex 0 0 185px  
        width 185px 
        max-width 185px
        
        @media (max-width: 639px)
            width 100%
            max-width 100%
            display flex
    
    &__list
        list-style-type none
        width 500px
        max-width 100%
        padding-left 0
        margin-bottom 45px
        position relative
        z-index 2
        
        li
            font-size 18px
            color #050505
            font-weight 500
            line-height 26px
            padding-left 35px
            margin-bottom 20px
            position relative
            &:before
                content ''
                position absolute
                top 12px
                left 0
                width 7px
                height 7px
                border-radius 50%
                background-color rgb(222, 25, 41)
                box-shadow 0px 7px 6px 0px rgba(222, 49, 65, 0.5)  
            
            @media (max-width: 480px)   
                font-size 16px
                line-height 20px    
                padding-left 25px   
    
    &__number
        font-size 80px
        color #de1929
        font-family : $fonts.additFont
        font-style italic
        font-weight bold
        line-height 32px   
        margin-bottom 25px
        
        @media (max-width: 639px)
            font-size 36px
            line-height 32px
            flex 0 0 50px
            width 50px
            max-width 50px
            margin-right 18px
    
    &__text
        font-size 17px
        color #000002
        font-weight normal
        line-height 26px   
        margin-bottom 3px
        
        .small-text
            @media (max-width: 480px)
                font-size 11px
                display block
        
        @media (max-width: 480px)
            font-size 16px
            line-height 20px

    &__btn-advice
        width 350px
        &:hover
            color #fff
            text-decoration none
            
        &:after
            top -50px
            right -110px
            width 84px
            height 97px
            background url('../img/first-screen-arr.png') 0 0 no-repeat
    
    &__img-in-mobile
        display none
        width 500px
        max-width 100%
        
        img
            max-width 100%
            height auto
        
        @media (max-width: 1023px)
            display block

    &__img
        flex 0 0 1000px
        width 1000px
        max-width 1000px
        position absolute
        right 70px
        top 200px
    
        img
            max-width 100%
            height auto    
           
        @media (max-width: 1919px)
            flex 0 0 750px
            width 750px
            max-width 750px
        
        @media (max-width: 1440px)
            flex 0 0 650px
            width 650px
            max-width 650px
        
        @media (max-width: 1365px) 
            flex 0 0 500px
            width 500px
            max-width 500px
            right 0
        
        @media (max-width: 1023px)    
            display none
            
    &__bot
        padding-left 40px      
        
        @media (max-width 480px)
            padding-left 0
            text-align center  
    
    &__explanation
        font-size 18px
        color #8d9aa2
        font-weight normal
        line-height 38px
        margin-top 20px
        
        @media (max-width: 480px)   
            font-size 15px
            line-height 22px
    
    &__timer
        font-size 30px
        color #de1929
        font-family : $fonts.additFont
        line-height 38px
        font-weight normal
        display flex
        align-items baseline
        
        @media (max-width 480px)
            justify-content center
        
        span
            font-size 0
            margin-right 5px
            margin-left 5px
            
            @media (max-width 375px)
                display none
    
    &__timer-item
        display flex
        align-items baseline
        
        @media (max-width 375px)
            margin-right 5px
    
    &__timer-namber
        font-size 30px
        color #de1929
        font-family : $fonts.additFont
        font-weight bold
        font-style italic
        line-height 38px
        margin-right 10px
        
        @media (max-width 440px)
            font-size 20px
    
    &__timer-date 
        font-size 20px
        color #de1929
        font-family : $fonts.additFont
        font-weight normal
        line-height 38px    
        
        @media (max-width 440px)
            font-size 16px    
        
        @media (max-width 375px)
            font-size 11px    
     
    &__extra
        padding 30px 40px
        background-color #fff
        width 340px
        border-radius 10px
        position absolute
        top 50%
        left 15px
        margin-top 40px
        &:after
            content ''
            position absolute
            top -10px
            right 50px
            width 0
            height 0
            border-style solid
            border-width 0 10px 10px 10px
            border-color transparent transparent #fff transparent
            
    
    &__extra-title
        font-size 16px
        color #050505
        font-weight 500
        line-height 24px 
    
    &__name
        font-size 24px
        color #de1929
        font-weight 500
        line-height 24px
        margin-bottom 10px    
    
    &__extra-text
        font-size 16px
        color #8d9aa2 
        font-style italic
        line-height 22px   