<div block="b-dreaming">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="item" mods="left">
                    <div elem="head">
                        <div elem="title">Мечтаете о <span>высокой <br> и красивой</span> груди?</div>
                        <div elem="sub-title">или возможно:</div>
                    </div>
                    <ul elem="list">
                        <li>Стесняетесь маленького размера и устали носить пушап</li>
                        <li>Хотите скорректировать форму груди после родов</li>
                        <li>Хотите с удовольствием демонстрировать декольте в любых платьях, на пляже и во время секса</li>
                        <li>С тихим вздохом смотрите на подруг с красивым бюстом</li>
                    </ul>
                </div>

                <div elem="item" mods="right">
                    <div elem="body">
                        <div elem="head">
                            <div elem="desc">За 12 лет работы к нам <br> <span>приходили тысячи <br> девушек</span> с подобными <br> историями.</div>
                        </div>
                        <div elem="text">Сегодня все они — обладательницы аккуратной и красивой груди, которую не отличить от натуральной.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-dreaming -->