.b-dreaming
    background url('../img/dreaming-bg.png') 50% 0 no-repeat
    padding-top 60px
    padding-bottom 330px
    
    @media (max-width: 1023px)
        padding-bottom 90px
    
    &__section
        position relative
        
    &__items
        display flex
        justify-content space-between
        
        @media (max-width: 1023px)
            display block
    
    &__item
        
        &--left
            flex 0 0 550px
            width 550px
            max-width 550px
            
            @media (max-width: 1279px)
                flex 0 0 500px
                width 500px
                max-width 500px
            
            @media (max-width: 1023px)
                width 550px
                max-width 100%
                margin 0 auto  
        
        &--right
            flex 0 0 590px
            width 590px
            max-width 590px
            margin-left 40px
            
            @media (max-width: 1279px)
                flex 0 0 450px
                width 450px
                max-width 450px
                margin-left 0
            
            @media (max-width: 1023px)
                width 600px
                max-width 100%
                margin 0 auto
                    
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        margin-bottom 15px
        
        span
            font-weight bold
            font-style italic
        
        @media (max-width: 1279px)
            font-size 46px
            line-height 46px
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px    
    
    &__sub-title
        font-size 42px
        color #8d9aa2
        font-family : $fonts.additFont
        font-weight normal
        line-height 60px
        margin-bottom 25px
        
        @media (max-width: 480px)
            font-size 18px
            line-height 24px
    
    &__list
        display flex
        flex-wrap wrap
        justify-content space-between
        list-style-type none
        padding-left 0
        position relative
        z-index 2
        &:after
            content ''
            position absolute
            bottom -100px
            left 25px
            width 298px
            height 286px
            background url('../img/dreaming-question-mark-pic.png') 0 0 no-repeat
            background-size contain
            z-index -1
            
            @media (max-width: 1023px)
                bottom 0
            
            @media (max-width: 1023px)
                width 245px
                height 200px   
        
        li
            font-size 18px
            color #050505
            font-weight normal
            line-height 24px
            flex 0 0 250px
            width 250px
            max-width 250px
            padding-left 35px
            margin-bottom 35px
            position relative
            &:before
                content ''
                position absolute
                top 5px
                left 0
                width 7px
                height 7px
                border-radius 50%
                background-color rgb(222, 25, 41)
                box-shadow 0px 7px 6px 0px rgba(222, 49, 65, 0.5)
            
            @media (max-width: 1279px)
                padding-left 25px 
            
            @media (max-width: 480px)
                font-size 16px
                line-height 20px    
        
        @media (max-width: 1023px)
            margin-bottom 50px           
     
    &__body
        padding 65px 90px
        border-radius 30px
        background-color #fff
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        position relative
        z-index 2
        &:before
            content ''
            position absolute
            top -25px
            left 20px
            width 77px
            height 70px
            background url('../img/two-quotes-pic.png') 0 0 no-repeat
        &:after
            content ''
            position absolute
            top -10px
            right -130px
            width 265px
            height 340px
            background url('../img/dreaming-brassiere-pic.png') 0 0 no-repeat
            
            @media (max-width: 1599px)
                width 235px
                right -70px
                background-size contain
            
            @media (max-width: 1365px)
                width 150px
                right 0
            
            @media (max-width: 1279px)
                width 100px   
                height 145px 
            
            @media (max-width: 320px)
                right -20px
                top -5px
                    
        
        @media (max-width: 480px)
            padding-top 35px
            padding-bottom 35px

        @media (max-width: 1599px)
            padding 55px 60px
        
        @media (max-width: 1279px)
            padding-right 30px
            padding-left 30px    

    &__desc
        font-size 38px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        line-height 40px
        margin-bottom 20px
        
        span
            font-weight bold
            font-style italic
        
        @media (max-width: 1279px)
            font-size 34px
            line-height 36px   
        
        @media (max-width: 480px)
            font-size 18px
            line-height 24px    
            
        @media (max-width: 375px)
            width 150px 
            br
                display none      
            
    &__text
        font-size 20px
        color #7f889a
        line-height 28px
        
        @media (max-width: 480px)
            font-size 16px
            line-height 20px