.b-info
    padding-top 210px
    padding-bottom 125px
    background url('../img/info-bg.png') 50% 0 no-repeat
    
    &--vebinar
        
        & ^[0]
            
            &__title
                font-size 50px
                
                strong
                    color #de1929
                
                @media (max-width: 1279px)
                    font-size 40px 
                    line-height 45px
                
                @media (max-width: 959px)
                    font-size 35px       
                
                @media (max-width: 479px)
                    font-size 30px
                    line-height 35px
                
                @media (max-width: 439px)
                    font-size 22px
                    line-height 30px
                        
                    
            &__desc
                width 600px
            
            &__text
                
                strong
                    color #050505
                
                @media (max-width: 640px)
                    padding-bottom 30px    
            
            &__form-sign-up
                &:before
                    top auto
                    bottom 60px
                    margin-top 0
                                
    
    @media (max-width: 640px)
        padding-top 100px
        padding-bottom 0
        
        &--vebinar
            padding-bottom 70px
    
    &__items
        display flex
        justify-content space-between
        
        @media (max-width: 959px)
            display block
            
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        margin-bottom 40px
        
        strong
            font-weight bold
            font-style italic   
         
        @media (max-width: 1023px)
            font-size 36px
            line-height 40px 
            margin-bottom 20px  
    
    &__body
        @media (max-width: 959px)
            width 480px
            max-width 100%
            margin 0 auto
            margin-bottom 50px

    &__desc
        font-size 25px
        color #7f889a
        font-weight normal
        line-height 34px     
        width 515px
        max-width 100%  
        margin-bottom 60px  
        
        @media (max-width: 1023px)
            font-size 18px
            line-height 24px
            width 400px
            margin-bottom 25px
    
    &__text
        font-size 20px
        color #7f889a
        font-weight normal
        line-height 28px
        text-align center
        width 400px
        max-width 100%
        background-color #fff
        border-radius 30px
        padding 85px 35px 70px 35px
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        position relative
        &:before
            content ''
            position absolute
            top 25px 
            left 50%
            transform translateX(-50%)
            width 77px
            height 70px
            background url('../img/two-quotes-pic.png') 0 0 no-repeat
            z-index 1   
        
        @media (max-width: 959px)
            width 100%     
    
    &__form-sign-up
        position relative
        
        &:before
            content ''
            position absolute
            top 50%
            margin-top 70px
            left -235px
            width 262px
            height 67px
            background url('../img/info-arr.png') 0 0 no-repeat  
            
            @media (max-width: 1279px)
                display none
        
        @media (max-width: 959px)
            width 480px        
            max-width 100%
            margin 0 auto
            margin-bottom 50px
    
    &__bot-text
        font-size 36px
        font-family : $fonts.additFont
        font-weight bold
        font-style italic
        color #de1929
        line-height 60px
        text-align center
        width 450px
        max-width 100%
        padding-top 75px
        margin 125px auto 0
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 50%
            transform translateX(-50%)
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 479px)
                width 35px
        
        @media (max-width: 479px)
            font-size 24px
            line-height 28px
            padding-top 30px
            margin-top 40px   