<div block="b-info">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="body">
                    <div elem="head">
                        <div elem="title"><strong>Красивая грудь</strong> — это <br> не только <strong>идеальный <br> внешний вид.</strong></div>
                    </div>
                    <div elem="desc">Это про любовь к себе, уверенность, успех в личной жизни.</div>
                    <div elem="text">Если вы давно хотите скорректировать грудь — сейчас самое время. Записывайтесь на консультацию </div>
                </div>
                <div elem="form-sign-up">
                    {% include "b-form.html" %}
                </div>
            </div>
        </div>
    </div>
</div><!-- b-info -->