<div block="b-info" mods="vebinar">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="items">
                <div elem="body">
                    <div elem="head">
                        <div elem="title"><strong>Увеличение груди — </strong> <br> самая распространенная <br> операция в Amira Clinic.</div>
                    </div>
                    <div elem="desc">Но, несмотря на это, девушки все еще волнуются и сомневаются, решаясь на маммопластику.</div>
                    <div elem="text"><strong>Если это о вас</strong> — приходите на вебинар. Я честно и подробно расскажу обо всем, что касается увеличения груди и отвечу на ваши вопросы. </div>
                </div>
                <div elem="form-sign-up">
                    {% include "b-form-vebinar.html" %}
                </div>
            </div>

            <div elem="bot-text">До встречи на вебинаре! </div>
        </div>
    </div>
</div><!-- b-info -->