.b-included-in-price
    padding-top 180px
    background url('../img/included-in-price-bg.png') 50% 0 no-repeat
    
    &--inner
        padding-bottom 60px
    
    &__head
        text-align center  
        margin-bottom 50px  
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        
        span
            font-weight bold
            font-style italic
    
    &__items
        display flex
        flex-wrap wrap
        justify-content space-between
    
    &__item
        flex 0 0 300px
        width 300px
        max-width 300px
        text-align center
        margin-bottom 40px
    
    &__img
        height 225px
        margin-bottom -60px
        
        img
            max-width 100%
            height auto
    
    &__name
        font-size 30px
        color #050505
        font-weight bold
        font-style italic
        text-align center
        line-height 32px
        margin-bottom 15px
    
    &__bot
        text-align center
            
    &__btn-sign-up
        padding-top 10px
        padding-bottom 10px
        width 375px
        

@media (max-width 1024px)
    .b-included-in-price
        padding-top 100px
        
    .b-included-in-price__title
        font-size 40px
        line-height 45px

@media (max-width 768px)
    .b-included-in-price__item
        flex 0 0 100%
        width 100%  
        max-width 100%

@media (max-width 480px)
    .b-included-in-price__title
        font-size 30px
        line-height 30px

@media (max-width 320px)
    .b-included-in-price
        padding-top 70px
    
    .b-included-in-price__title
        font-size 24px
        line-height 30px

    .b-included-in-price__head
        margin-bottom 20px
    
    .b-included-in-price__name
        font-size 18px
        line-height 24px