<div block="b-included-in-price" mods="inner">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title"><span>В стоимость</span> <br> маммопластики входит:</div>
            </div>

            <div elem="items">
                <div elem="item">
                    <div elem="img"><img src="img/included-in-price-img.png" alt=""></div>
                    <div elem="name">Консультации и осмотры</div>
                    <div elem="text">Повторные консультации, все дальнейшие осмотры и перевязки проходят БЕСПЛАТНО</div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/included-in-price-img2.png" alt=""></div>
                    <div elem="name">Сутки наблюдения в стационаре</div>
                    <div elem="text">Комфортная палата, питание, круглосуточное сопровождение персонала</div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/included-in-price-img3.png" alt=""></div>
                    <div elem="name">Имплантаты</div>
                    <div elem="text">Сферические, анатомические имплантаты, биоимплантаты: Arion, Allergan natrelle, Mentor, Motiva, Polytech, Eurosilicone, Silimed и другие</div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/included-in-price-img4.png" alt=""></div>
                    <div elem="name">Наркоз</div>
                    <div elem="text">Поверхностный масочный наркоз под контролем опытного врача-анестезиолога</div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/included-in-price-img5.png" alt=""></div>
                    <div elem="name">Операция</div>
                    <div elem="text">Длительность одной операции  40 минут и более в зависимости от вида операции</div>
                </div>
                <div elem="item">
                    <div elem="img"><img src="img/included-in-price-img6.png" alt=""></div>
                    <div elem="name">Компрессионное белье</div>
                    <div elem="text">Специальное белье, которое нужно носить в течении 3-4 недель после операции</div>
                </div>
            </div>

            <div elem="bot">
                <a elem="btn-sign-up" class="site-btn" href="#" data-remodal-target="pay">Записаться на консультацию <br> и получить скидку на <br> маммопластику</a>
            </div>
        </div>
    </div>
</div><!-- b-included-in-price -->