= yaml =
pageTitle: Ошибка 404 - Страница не найдена
bodyClasses: error404
layout: !!map
    header: false
    footer: false
    left: false
    right: false
= yaml =

{% extends 'app.html' %}

{% block main %}

<style>
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin: 0 0 10px;
	}

	p {
		margin: 0 0 20px;
	}
	.container {
		padding: 20px;
	}

	.container-404 {
		width: 100%;
		max-width: 380px;
		margin: 0 auto;
		text-align: center;
	}

	.image-404 {
		width: 100%;
		height: auto;
		display: inline-block;
		margin-bottom: 20px;
	}

	@media (min-width: 960px) {
		.container {
			width: 100%;
			max-width: 960px;
			margin: 0 auto;
		}
	}
</style>

<div class="container">
	<div class="container-404">

		<figure>
			<svg id="404" class="image-404" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 370 234"><style>.st0{fill:#f5d59d}.st1{fill:#5d1909}.st2{fill:#e6136b}.st7{fill:#0088c8}.st8{fill:#ffc531}.st9{fill:#ff6517}.st10{fill:#ffe000}</style><path class="st0" d="M344.3 139.7c.1 2.1-.9 4.4-1.1 6.2-.1 1.2 0 2.4-.7 3.4-1.3 2-4.3 1.5-6.4 1.8-1.6.2-3.2.4-4.8-.1-.9-.3-1.7-.8-2.5-1.3-.7-.4-1.3-.8-1.8-1.4-.7-.7-1.1-1.7-1.6-2.6-.4-.6-.9-1.2-1.3-1.8-1-1.5-1.4-3.3-1.2-5.1.1-1 .5-2 1.1-2.8.6-.7 1.4-1.1 2.2-1.4 1.1-.4 2.3-.7 3.5-.7 2.2 0 4.3.6 6.4 1.2 1 .3 2 .5 3.1.7.8.1 1.7.3 2.5.6.6.2 1.5.6 1.9 1.1.5.6.7 1.4.7 2.2z"/><path class="st1" d="M323.7 134.8c-.6 1.6-3.1 4.9-2.5 6.5 1.5 4.2 3.9 5.8 7.9 7.8 1.8.9 4 1.5 6 1s3.8-2.2 3.8-4.3c0-.9-.4-1.9-.2-2.8.4-1.7 2.2-2.2 4.1-2.1 1.4 0 2.5-1.4 1.9-2.7-.6-1.5-1.9-2.9-3.2-4-4.9-4.3-14.3-8.6-17.8.6z"/><path class="st2" d="M65.9 178.5H0V159L74.8 48.4h22.3v104.2h23v26.1h-23v42.4H65.9v-42.6zm1.1-25.1v-51.6l-34.9 51.6H67zM315.8 181.8h-65.9v-19.5l74.8-110.6H347V156h23v26.1h-23v42.4h-31.2v-42.7zm1-25v-51.6l-34.9 51.6h34.9z"/><g><path d="M245.6 209c-4.3-2.7-6.1-8.3-3.9-12.8 1.4-3 4.1-4.9 7-5.5.9-.2 1.2-1.4.4-1.9-4.3-2.7-6.1-8.3-3.9-12.8 1.4-3 4.1-4.9 7-5.5.9-.2 1.2-1.4.4-1.9l-.8-.5c-4.3-2.8-6.1-8.4-3.8-13 2.2-4.5 7.3-6.5 11.8-5.1.7.2 1.4-.3 1.3-1.1-.1-2.2.5-4.5 2-6.4 3.2-4.2 9.2-5.1 13.6-2.2l1.1.7c.7.4 1.6 0 1.6-.9 0-2.3.8-4.6 2.5-6.6 3.3-3.8 8.9-4.3 13.1-1.6l8.5 5.5c.6.4 1.5 0 1.6-.7 7.3-42.1-10.8-86.4-49.6-110.5-49.3-30.8-114.9-16.4-147 32.1-33.3 50.4-18.9 118.2 31.8 150.8 34.1 21.9 75.9 22.2 109.3 4.3.7-.4.7-1.4.1-1.8l-4.1-2.6zm-67.1-59.5c-17.3-11.1-22.4-34.2-11.3-51.6 11.1-17.3 34.2-22.4 51.6-11.3 17.3 11.1 22.4 34.2 11.3 51.6-11.1 17.3-34.2 22.4-51.6 11.3z" opacity=".2" fill="#2e2743"/><path class="st0" d="M283.3 102.7c-3.3.5-30.2 11.3-32.4 13.6-2.2 2.3-16.6 25.1-16.6 25.7 0 .7.3 13.4.5 14.3.1.3 1.3 1 3 1.9.2-.7.4-1.4.7-2.1 2.2-4.5 7.3-6.5 11.8-5.1.7.2 1.4-.3 1.4-1.1-.1-2.2.5-4.5 2-6.4 3.2-4.2 9.2-5.1 13.6-2.2l.9.6c.9.6 1.8.1 1.8-.8 0-2.3.8-4.6 2.5-6.5 3.1-3.6 9.1-4.2 13.1-1.6l.2.1c4.7 3 10.8-.1 11.3-5.6.5-7 .4-14-.4-20.9-5.6-2.1-11.7-4.1-13.4-3.9z"/><path class="st0" d="M237.6 199c-4.3-2.7-6.1-8.3-3.9-12.8 1.4-3 4.1-4.9 7-5.5.9-.2 1.2-1.4.4-1.9-4.3-2.7-6.1-8.3-3.9-12.8 1.4-3 4.1-4.9 7-5.5.9-.2 1.2-1.4.4-1.9l-.8-.5c-4.3-2.8-6.1-8.4-3.8-13 2.2-4.5 7.3-6.5 11.8-5.1.7.2 1.4-.3 1.3-1.1-.1-2.2.5-4.5 2-6.4 3.2-4.2 9.2-5.1 13.6-2.2l1.1.7c.7.4 1.6 0 1.6-.9 0-2.3.8-4.6 2.5-6.6 3.3-3.8 8.9-4.3 13.1-1.6l8.5 5.5c.6.4 1.5 0 1.6-.7 7.3-42.1-10.8-86.4-49.6-110.5-49.3-30.8-114.9-16.4-147 32.2-33.3 50.4-18.9 118.2 31.8 150.8 34.1 21.9 75.9 22.2 109.3 4.3.7-.4.7-1.4.1-1.8l-4.1-2.7zm-67-59.5c-17.3-11.1-22.4-34.2-11.3-51.6 11.1-17.3 34.2-22.4 51.6-11.3s22.4 34.2 11.3 51.6c-11.2 17.4-34.3 22.4-51.6 11.3z"/><path class="st1" d="M237.6 199c-4.3-2.7-6.1-8.3-3.9-12.8 1.4-3 4.1-4.9 7-5.5.9-.2 1.2-1.4.4-1.9-4.3-2.7-6.1-8.3-3.9-12.8 1.4-3 4.1-4.9 7-5.5.9-.2 1.2-1.4.4-1.9l-.8-.5c-4.3-2.8-6.1-8.4-3.8-13 2.2-4.5 7.3-6.5 11.8-5.1.7.2 1.4-.3 1.3-1.1-.1-2.2.5-4.5 2-6.4 3.2-4.2 9.2-5.1 13.6-2.2l1.1.7c.7.4 1.6 0 1.6-.9 0-2.3.8-4.6 2.5-6.6 3.3-3.8 8.9-4.3 13.1-1.6l8.5 5.5c.6.4 1.5 0 1.6-.7 7.3-42.1-10.8-86.4-49.6-110.5-49.3-30.8-114.9-16.4-147 32.2-33.3 50.4-18.9 118.2 31.8 150.8 34.1 21.9 75.9 22.2 109.3 4.3.7-.4.7-1.4.1-1.8l-4.1-2.7zm-67-59.5c-17.3-11.1-22.4-34.2-11.3-51.6 11.1-17.3 34.2-22.4 51.6-11.3s22.4 34.2 11.3 51.6c-11.2 17.4-34.3 22.4-51.6 11.3z"/><path d="M174.5 155.3c4 .5 8.4 1 13.6 2.7 12.1 4 27.5 14.7 35-2.4 2.7-6.1 3.4-13.1 7.4-18.5 6-8.1 24.3-12.4 21.9-24.9-.9-4.8-4.1-8.8-7-12.8-7.9-11-10.8-31.3-27-32.5-6-.4-12.3.6-17.7-1.8-4.8-2.1-8.3-6.6-13.2-8.6-11.6-4.7-19.4 8.9-29.6 11.9-9 2.6-20.7.6-20.4 13.7.1 3.9.9 7.9.3 11.8-.7 4.7-3.4 8.8-5.1 13.3-5.4 14.2 13.6 22.6 20.1 33.9 7 12.4 13.2 13.2 21.7 14.2zm-15.2-67.4c11.1-17.3 34.2-22.4 51.6-11.3s22.4 34.2 11.3 51.6c-11.1 17.3-34.2 22.4-51.6 11.3-17.3-11.1-22.4-34.2-11.3-51.6z" fill="#f8a654"/><path d="M174.5 155.3c1.2.1 2.3.1 3.5.1-6.1-4.5-14-6.4-19.2-11.8-5.2-5.4-8.5-9.5-12.1-15.6-3-5-7.8-8.4-9.6-14.3-1.3-4.3 1.4-8.3 3.2-11.9.9-1.8 2-3.7 2.2-5.7.3-2.9-1.5-5.3-.6-8.3.4-1.4 1.1-2.7 1.5-4.1.5-2 .4-4.1 1.4-5.9 1.6-2.7 5.7-4.2 8.3-5.5 3.9-1.9 8-3.5 12-5 8.1-3 16.4-5.8 23.9-10.2-5-3.1-11.7-1.1-16.7 2.1s-9.4 7.5-15 9.2c-5.4 1.7-11.7.9-16.2 4.4-7.7 5.9-1.7 16.7-4.4 24.4-1.6 4.6-4.8 8.6-5.2 13.6-.4 5 2.3 9.8 5.6 13.5 3.4 3.7 7.4 6.8 10.7 10.6 5.2 6.1 8.6 14.2 15.8 17.9 3.5 1.8 7.2 2.3 10.9 2.5z" fill="#dd7716"/><path d="M281.2 48.8c-8.4-12.8-19.6-24-33.5-32.6C198.2-14.6 132.6-.2 100.5 48.4c-24.3 36.8-23.2 82.9-1.1 117.7 3.1 1.6 7.2-25.7 7.4-27.8 1.2-9.8 2.1-20 .4-29.8-1.6-8.7-9.7-19.3-5.4-28.2 1.9-3.9 5.8-6.4 8-10.1 4.2-7 1.8-16.8 6.9-23.2 3.6-4.5 9.7-5.7 14.9-8.1 19.9-9.3 35.2-36.2 60.7-25.2 11.2 4.8 16.8 16.7 27 22.4 11.8 6.6 21.7-3.6 33.7-1.5 6.3 1.1 11.1 5.9 16.3 9.6 3.4 2.5 7.8 4.5 11.9 4.6z" fill="#410d02"/><path class="st7" d="M195.3 26.3l-9-10.6c-1.1-1.3-3-1.4-4.2-.3-1.3 1.1-1.4 3-.3 4.2l9 10.6c1.1 1.3 3 1.4 4.2.3 1.2-1.1 1.3-3 .3-4.2zM149.5 49.2l-9-10.6c-1.1-1.3-3-1.4-4.2-.3-1.3 1.1-1.4 3-.3 4.2l9 10.6c1.1 1.3 3 1.4 4.2.3 1.2-1.1 1.3-3 .3-4.2zM208.2 193.6l-9-10.6c-1.1-1.3-3-1.4-4.2-.3-1.3 1.1-1.4 3-.3 4.2l9 10.6c1.1 1.3 3 1.4 4.2.3 1.2-1.1 1.4-3 .3-4.2z"/><path class="st8" d="M156.5 36.6l13.6-2.9c1.6-.3 2.6-1.9 2.3-3.5-.3-1.6-1.9-2.6-3.5-2.3l-13.6 2.9c-1.6.3-2.6 1.9-2.3 3.5.3 1.6 1.9 2.6 3.5 2.3zM264 168.1l13.6-2.9c1.6-.3 2.6-1.9 2.3-3.5-.3-1.6-1.9-2.6-3.5-2.3l-13.6 2.9c-1.6.3-2.6 1.9-2.3 3.5.3 1.6 1.9 2.6 3.5 2.3zM106.7 95.4l13.6-2.9c1.6-.3 2.6-1.9 2.3-3.5-.3-1.6-1.9-2.6-3.5-2.3l-13.6 2.9c-1.6.3-2.6 1.9-2.3 3.5.3 1.6 1.9 2.6 3.5 2.3z"/><path class="st9" d="M225.6 53.9l10.5-9.2c1.2-1.1 1.4-3 .3-4.2-1.1-1.2-3-1.4-4.2-.3l-10.5 9.2c-1.2 1.1-1.4 3-.3 4.2 1 1.3 2.9 1.4 4.2.3zM187.7 42l10.5-9.2c1.2-1.1 1.4-3 .3-4.2-1.1-1.2-3-1.4-4.2-.3l-10.5 9.2c-1.2 1.1-1.4 3-.3 4.2 1.1 1.2 3 1.4 4.2.3zM190.7 200.4l10.5-9.2c1.2-1.1 1.4-3 .3-4.2-1.1-1.2-3-1.4-4.2-.3l-10.5 9.2c-1.2 1.1-1.4 3-.3 4.2 1.1 1.2 3 1.3 4.2.3z"/><path class="st10" d="M128 178.5l10.5-9.2c1.2-1.1 1.4-3 .3-4.2-1.1-1.2-3-1.4-4.2-.3l-10.5 9.2c-1.2 1.1-1.4 3-.3 4.2 1.1 1.2 3 1.3 4.2.3z"/><path class="st8" d="M150.6 176.2l13.2 4.5c1.6.5 3.3-.3 3.8-1.9.5-1.6-.3-3.3-1.9-3.8l-13.2-4.5c-1.6-.5-3.3.3-3.8 1.9-.5 1.5.4 3.3 1.9 3.8zM215.7 156l-4.6 13.2c-.5 1.6.3 3.3 1.8 3.8 1.6.5 3.3-.3 3.8-1.8l4.6-13.2c.5-1.6-.3-3.3-1.8-3.8-1.6-.6-3.3.3-3.8 1.8z"/><path class="st10" d="M106.6 131.7l12.3-6.5c1.5-.8 2-2.6 1.3-4-.8-1.5-2.6-2-4-1.3l-12.3 6.5c-1.5.8-2 2.6-1.3 4 .7 1.5 2.6 2.1 4 1.3z"/><path class="st9" d="M235.3 226.3l11.9 7.2c1.4.9 3.3.4 4.1-1 .9-1.4.4-3.3-1-4.1l-11.9-7.2c-1.4-.9-3.3-.4-4.1 1-.9 1.5-.4 3.3 1 4.1z"/><path class="st10" d="M120.1 47.5l-11.4 8c-1.3.9-1.7 2.8-.7 4.2.9 1.3 2.8 1.7 4.2.7l11.4-8c1.3-.9 1.7-2.8.7-4.2-1-1.3-2.9-1.7-4.2-.7zM243.2 67.9l12.3-6.5c1.5-.8 2-2.6 1.3-4-.8-1.5-2.6-2-4-1.3l-12.3 6.5c-1.5.8-2 2.6-1.3 4 .7 1.5 2.5 2.1 4 1.3zM268.5 106.2l12.3-6.5c1.5-.8 2-2.6 1.3-4-.8-1.5-2.6-2-4-1.3l-12.3 6.5c-1.5.8-2 2.6-1.3 4 .7 1.5 2.5 2.1 4 1.3zM284.4 227.7l12.3-6.5c1.5-.8 2-2.6 1.3-4-.8-1.5-2.6-2-4-1.3l-12.3 6.5c-1.5.8-2 2.6-1.3 4 .7 1.5 2.5 2.1 4 1.3z"/><path class="st9" d="M122.7 88.2l-2.8-13.7c-.3-1.6-1.9-2.7-3.5-2.3-1.6.3-2.7 1.9-2.3 3.5l2.8 13.7c.3 1.6 1.9 2.7 3.5 2.3 1.6-.3 2.6-1.9 2.3-3.5z"/><path class="st7" d="M260.1 86.2l-2.8-13.7c-.3-1.6-1.9-2.7-3.5-2.3-1.6.3-2.7 1.9-2.3 3.5l2.8 13.7c.3 1.6 1.9 2.7 3.5 2.3 1.6-.3 2.6-1.9 2.3-3.5z"/><path class="st10" d="M255.1 44.4l-2.8-13.7c-.3-1.6-1.9-2.7-3.5-2.3-1.6.3-2.7 1.9-2.3 3.5l2.8 13.7c.3 1.6 1.9 2.7 3.5 2.3 1.6-.3 2.6-1.9 2.3-3.5zM162.5 197.8l-2.8-13.7c-.3-1.6-1.9-2.7-3.5-2.3-1.6.3-2.7 1.9-2.3 3.5l2.8 13.7c.3 1.6 1.9 2.7 3.5 2.3 1.6-.3 2.6-1.9 2.3-3.5z"/><path class="st7" d="M128.7 152l-2.8-13.7c-.3-1.6-1.9-2.7-3.5-2.3-1.6.3-2.7 1.9-2.3 3.5l2.8 13.7c.3 1.6 1.9 2.7 3.5 2.3 1.5-.3 2.6-1.9 2.3-3.5z"/><g><path class="st0" d="M287.7 189.9c-.8-.7-1.2-1.8-1.8-2.5-.4-.4-.8-.8-1-1.4-.3-1.1.9-2 1.5-2.8.5-.6 1-1.3 1.6-1.6.4-.2.9-.3 1.3-.5.4-.1.7-.2 1.1-.2.5 0 1 .2 1.5.3.4.1.7.1 1.1.2.8.2 1.6.6 2.2 1.3.3.4.6.9.6 1.4 0 .4-.1.8-.2 1.2-.2.5-.5 1-.9 1.5-.7.8-1.7 1.3-2.6 1.9-.4.3-.9.6-1.3.9-.3.2-.7.5-1 .7-.3.1-.7.3-1 .3-.5-.2-.8-.4-1.1-.7z"/><path class="st1" d="M296.4 184.3c-.4-.8-.7-2.8-1.5-3.1-2-.9-3.4-.6-5.4.1-.9.3-1.9.9-2.4 1.8s-.5 2.1.2 2.8c.3.3.8.5 1 .9.5.7 0 1.5-.6 2.2-.5.5-.3 1.3.3 1.6.7.3 1.7.3 2.5.2 3.3-.3 8-2.1 5.9-6.5z"/></g><g><path class="st0" d="M272.1 183.6c-.5-.4-.8-1.2-1.2-1.7-.2-.3-.6-.6-.7-.9-.2-.8.6-1.4 1.1-1.9.3-.4.7-.9 1.1-1.1.3-.2.6-.2.9-.3.2-.1.5-.1.8-.1.3 0 .7.1 1 .2.2 0 .5.1.7.1.6.1 1.1.4 1.5.9.2.3.4.6.4.9 0 .3-.1.6-.2.8-.2.4-.4.7-.6 1-.5.5-1.1.9-1.8 1.3l-.9.6c-.2.2-.5.3-.7.5-.2.1-.5.2-.7.2-.3-.2-.5-.3-.7-.5z"/></g><g><path class="st0" d="M266.3 209.5c-.5-.4-.8-1.2-1.2-1.7-.2-.3-.6-.6-.7-.9-.2-.8.6-1.4 1.1-1.9.3-.4.7-.9 1.1-1.1.3-.2.6-.2.9-.3.2-.1.5-.1.8-.1.3 0 .7.1 1 .2.2 0 .5.1.7.1.6.1 1.1.4 1.5.9.2.3.4.6.4.9 0 .3-.1.6-.2.8-.2.4-.4.7-.6 1-.5.5-1.1.9-1.8 1.3l-.9.6c-.2.2-.5.3-.7.5-.2.1-.5.2-.7.2-.2-.2-.5-.4-.7-.5z"/></g></g></svg>
			<figcaption>
				<small>
					<a href="https://www.freepik.com/free-photos-vectors/business">Business vector created by freepik - www.freepik.com</a>
				</small>
			</figcaption>
		</figure>

		<h1>Ошибка 404</h1>
		<p>Так уж получилось, что из множества страниц нашего сайта, Вы оказались как раз на той, которая уже не существует.</p>
		<a href="index.html">Вернуться на главную</a>
	</div>
</div>

{% endblock %}
