.b-reviews
    background url('../img/reviews-bg.png') 50% 0 no-repeat
    padding-top 280px
    padding-bottom 240px
    
    @media (max-width: 1279px)
        background-size cover
        padding-bottom 130px
    
    @media (max-width: 480px)
        padding-top 180px    
    
    &__inner
        width 1445px
        max-width 100%  
    
    &__head
        text-align center  
        margin-bottom 35px  
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        margin-bottom 25px
        
        strong
            font-weight bold
            font-style italic
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px
            margin-bottom 0
    
    &__sub-title
        font-size 24px
        color #8d9aa2
        line-height 32px  
        
        @media (max-width: 480px)
            font-size 16px
    
    &__items
        
        &.owl-carousel .owl-stage-outer
            padding-top 55px    
            padding-bottom 55px
            
            @media (max-width: 1279px)
                padding-top 0
                padding-bottom 100px
            
        .owl-nav
            display flex
            position absolute
            right 50%
            transform translateX(340%)
            bottom 110px
            
            @media (max-width: 1279px)
                bottom 70px
                transform translateX(50%)
        
        .owl-prev,
        .owl-next
            width 60px
            height 66px 
            border-radius 50px 0 0 50px
        
        .owl-prev
            margin-right 5px
            background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 360deg, rgb(79,80,84) 0%, rgb(113,115,118) 100%) 
            &:hover
                background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 360deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
                box-shadow 0px 2px 6px 0px rgba(255,255,255,0.7), 0px 2px 20px 0px rgba(201,35,49,0.4)
        
        .owl-next
            transform rotate(180deg)
            background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 180deg, rgb(79,80,84) 0%, rgb(113,115,118) 100%) 
            &:hover
                box-shadow 0px -2px 6px 0px rgba(255,255,255,0.7), 0px -7px 20px 0px rgba(201,35,49,0.4)
                background url('../img/left-arrow-pic.png') 50% 50% no-repeat, linear-gradient( 180deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
        
        .owl-dots
            display flex
            align-items center
            position absolute
            right 50%
            transform translateX(370%)
            bottom 50px
            
            @media (max-width: 1279px)
                transform translateX(50%)
                bottom 30px
        
        .owl-dot
            width 15px
            height 15px
            border 5px solid transparent
            border-radius 50%
            margin-right 5px
            
            span
                background-color #a5a8aa
                display block   
                height 5px
                border-radius 50%
                
            &:last-child
                margin-right 0
            
            &.active
                border 5px solid #de1929
                
                span      
                    background-color #fff      
            
    &__item
        display flex
        width 1200px
        max-width 100%
        margin-left auto
        margin-right auto
        
        @media (max-width: 1279px)  
            display block
        
        @media (max-width: 480px)
            *
                box-shadow none    
        
    &__before-after
        flex 0 0 680px
        width 680px
        max-width 680px
        margin-right 40px
        
        .twentytwenty-wrapper.twentytwenty-horizontal
            border 15px solid #fff
            border-radius 35px
            height 495px
            overflow hidden
            
            @media (max-width: 640px)
                height 420px
            
            @media (max-width: 480px)
                height 350px
            
            @media (max-width: 375px)
                height 250px    
                
        .twentytwenty-handle
            top 35%
            width 80px
            height 80px
            margin-left -50px
            margin-top -50px
            border 8px solid #fff
            background linear-gradient( 360deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
            box-shadow 0px 2px 6px 0px rgba(255, 255, 255, 0.7),0px 15px 20px 0px rgba(201, 35, 49, 0.4)
            cursor col-resize
            &:before
                margin-bottom 45px
                
                @media (max-width: 480px)
                    margin-bottom 30px
                    
            &:after
                margin-top 45px
                
                @media (max-width: 480px)
                    margin-top 30px
            
            @media (max-width: 480px)
                width 50px
                height 50px
                border-width 5px  
            
            @media (max-width: 480px)
                top 50%
                transform translateY(-25%)  
                margin-left -30px    
            
            @media (max-width: 375px)
                transform translateY(-50%) 
            
            @media (max-width: 375px)
                transform translateY(0)         
        
        .twentytwenty-before,
        .twentytwenty-after
            cursor pointer    
        
        .twentytwenty-left-arrow
            border-right 8px solid #fff
        
        .twentytwenty-right-arrow
            border-left 8px solid #fff
        
        @media (max-width: 1279px)
            width 680px
            max-width 100%
            margin 0 auto 

    &__imgs
        
        img
            max-width 100%
            height auto           
    
    &__labels
        display flex            
        justify-content space-around
        transform translateY(-47px)
    
    &__label
        font-size 24px
        color #fff
        line-height 60px
        padding 0 30px
        border 10px solid #f7f8fa
        border-radius 50px
        background linear-gradient( 360deg, rgb(79,80,84) 0%, rgb(113,115,118) 100%)    
        
        &--after
            background-image linear-gradient( 360deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
            box-shadow 0px 2px 6px 0px rgba(255, 255, 255, 0.7),0px 15px 20px 0px rgba(201, 35, 49, 0.4)
        
        @media (max-width: 480px)
            font-size 14px
            line-height 30px
            padding 5px 20px
            border-width 5px

    &__body
        align-self start
        padding 30px 25px 45px 25px
        border-radius 30px
        background-color #fff
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        position relative
        &:before
            content ''
            position absolute
            top -25px
            left 40px
            width 77px
            height 70px
            background url('../img/two-quotes-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 480px)
                width 50px
                height 45px 
                top -15px
                left 20px
        
        @media (max-width: 480px)
            padding 20px 20px 40px     
        
        &:after
            content ''
            position absolute
            bottom 65px
            right 60px
            width 98px
            height 86px
            background url('../img/two-quotes-bg.png') 0 0 no-repeat
            z-index 1
            
            @media (max-width: 440px)
                right 20px
                padding 30px
        
        @media (max-width: 1279px)
            width 680px
            max-width 100%
            margin 0 auto 
    
    &__name
        font-size 36px
        color #050505
        font-family : $fonts.additFont
        font-weight bold
        font-style italic
        line-height 40px
        padding-left 30px
        margin-bottom 10px
        
        @media (max-width: 480px)
            font-size 24px
            line-height 40px
            padding-left 0 
            margin-bottom 5px
    
    &__text
        font-size 20px
        color #8d9aa2
        font-weight normal
        line-height 28px   
        height 370px
        overflow-y auto
        position relative
        z-index 2
        
        @media (max-width: 440px)
            font-size 14px
            line-height 14px
            height 182px
    
    .scrollbox-horizontal-rail,
    .scrollbox-horizontal-bar
        display none        

    .scrollbox-vertical-rail, 
    .scrollbox-vertical-bar
        right -25px
        left auto !important
        
        @media (max-width: 440px)
            right -20px     

    .scrollbox-rail
        width 5px
        background-color #282828
        opacity 0.1
    
    .scrollbox-vertical-bar
        left -1px

    .scrollbox-bar
        width 5px
        height 27px
        border-radius 3px
        background-color #F34A57
    
    &__bot
        margin-top 25px
        display flex
        flex-direction column
        align-items center 
        
        @media (max-width: 1279px)
            margin-top 0
    
    &__note
        font-size 18px
        color #000
        font-weight normal
        line-height 24px
        width 510px
        max-width 100%
        text-align center
        margin-bottom 35px
        
        @media (max-width: 480px)
            font-size 16px
            margin-bottom 15px
    
    &__btn-want
        width 355px
        &:after
            top -40px
            right -100px
            width 67px
            height 97px
            background url('../img/reviews-arr.png') 0 0 no-repeat