<div block="b-reviews" id="reviews">
    <div elem="section">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Что говорят <br> <strong>наши пациентки</strong> </div>
                <div elem="sub-title">Отзывы о маммопластике</div>
            </div>

            <div elem="items" class="js-reviews-slider">
                <div elem="item">
                    <div elem="before-after">
                        <div elem="imgs" class="js-before-after-init">
                             <img src="img/reviews-before.jpg">
                             <img src="img/reviews-after.jpg">
                        </div>
                        <div elem="labels">
                            <div elem="label" mods="before">Было :(</div>
                            <div elem="label" mods="after">Стало :)</div>
                        </div>
                    </div>
                    <div elem="body">
                        <div elem="name">Раушан, Алматы</div>
                        <div elem="text" class="js-reviews-text-custom-scroll">В декабре 2017 г. делала маммопластику у Данияра Кайратовича! Было страшно до операции, долго подходила и к выбору клиники и к выбору врача и наконец остановила свой выбор на Данияре Кайратовиче, после увиденных работ в инстаграмме, о чем ни капельки не жалею. Операция прошла успешно, реабилитация тоже. Все мои страхи позади, за то сейчас я обладательница красивых грудей! Я стала более уверенной , сейчас поход в бутики нижнего белья доставляет мне огромное удовольствие! Спасибо Вам огромное!</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="before-after">
                        <div elem="imgs" class="js-before-after-init">
                             <img src="img/reviews-before-img2.jpg">
                             <img src="img/reviews-after-img2.jpg">
                        </div>
                        <div elem="labels">
                            <div elem="label" mods="before">Было :(</div>
                            <div elem="label" mods="after">Стало :)</div>
                        </div>
                    </div>
                    <div elem="body">
                        <div elem="name">Татьяна , Астана</div>
                        <div elem="text" class="js-reviews-text-custom-scroll">Добрый вечер Всем . Хочу выразить свою благодарность Данияр Кайратовичу. Я уже дважды была на операции у этого доктора! Замечательного человека и прекрасного хирурга. О котором можно сказать, что у него золотые руки. Данияр Кайратович ещё в 2013 году первый раз, когда я поставила нити в верхнюю часть лица, до сих пор результат сохранился. А в этом году совсем недавно мне поставили бразильские нити, для коррекции овала лица. А так же мне сделали блефоропластику верхних век. За две недели все зажило. Результат отличный практически уже ничего не видно. Огромное Спасибо Данияру Кайратовичу! Узнала о нем ещё 2012 году от своей ученицы. Когда я увидела её грудь после операции через 10 дней 4 размера! Я была в шоке, что не увидела ни одного шва, кроме пятен ореола.</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="before-after">
                        <div elem="imgs" class="js-before-after-init">
                             <img src="img/reviews-before-img3.jpg">
                             <img src="img/reviews-after-img3.jpg">
                        </div>
                        <div elem="labels">
                            <div elem="label" mods="before">Было :(</div>
                            <div elem="label" mods="after">Стало :)</div>
                        </div>
                    </div>
                    <div elem="body">
                        <div elem="name">Анастасия , Актау</div>
                        <div elem="text" class="js-reviews-text-custom-scroll">Два года назад делала операцию в Америке по увеличению груди. К сожалению, появились осложнения - импланты опустились, сместились и стали нависать над животом. А еще ужасные швыпошло опущение имплантов на живот, при этом своя грудь осталась на том же месте и ужасные швы появились с расстоянием в 2 сантиметра. Естесственно, соски растянулись и грудь стала ассиметричной. Врача искала долго - никто браться не хотел. А потом мне посоветовали Урмурзина Данияра Кайратовича! Сначала я не особо вдохновилась, показалось, что сильно молодой. Потом почитала отзывы - у него колоссальный опыт работы, более 150 операций в год! После консультации вообще все сомнения развеялись - доктор очень внимательный, добрый, заботливый. Я записалась на операцию - все прошло на высшем уровне! С той операции прошел год, а я все не могу нарадоваться глядя на свою грудь - ювелирная работа, доктор!</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="before-after">
                        <div elem="imgs" class="js-before-after-init">
                             <img src="img/reviews-before-img4.jpg">
                             <img src="img/reviews-after-img4.jpg">
                        </div>
                        <div elem="labels">
                            <div elem="label" mods="before">Было :(</div>
                            <div elem="label" mods="after">Стало :)</div>
                        </div>
                    </div>
                    <div elem="body">
                        <div elem="name">Дана, Алматы</div>
                        <div elem="text" class="js-reviews-text-custom-scroll">Хочу выразить Вам и вашей прекрасной команде большую благодарность. Уже прошёл почти год, как я стала обворожительной обладательницей прекрасной груди. Ваши навыки, профессионализм и намётанный глаз предали моим формам прекрасный эстетический вид, а также уверенность и гармонию в своей красоте как внешней так и в внутренней. А ещё вы дали мне возможность любоваться своим плоским и красивым животиком. Также хотелось бы поблагодарить прекрасного врача, заботливого и внимательного Булата Маликовича, ваша забота в пост операционный период помогла забыть о всех невзгодах. Ваш превосходный рабочий союз с Данияр Кайратовичем приносят красоту в наш мир! Большое вам человеческое СПАСИБО!!! Успехов вам в вашем прекрастном деле!</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="before-after">
                        <div elem="imgs" class="js-before-after-init">
                             <img src="img/reviews-before-img5.jpg">
                             <img src="img/reviews-after-img5.jpg">
                        </div>
                        <div elem="labels">
                            <div elem="label" mods="before">Было :(</div>
                            <div elem="label" mods="after">Стало :)</div>
                        </div>
                    </div>
                    <div elem="body">
                        <div elem="name">Зауре, Алматы</div>
                        <div elem="text" class="js-reviews-text-custom-scroll">Хочу выразить свою благодарность доктору Урмурзину Данияру Кайратовичу. После операции по увеличению груди, моя жизнь изменилась к лучшему. Я перестала комплексовать по-поводу моей груди, если раньше сборы на пляж меня загоняли в тупик, то сейчас я чувствую себя Королевой. Самый красивый купальник сидит на мне роскошно! И этим я обязана Вам!</div>
                    </div>
                </div>
                <div elem="item">
                    <div elem="before-after">
                        <div elem="imgs" class="js-before-after-init">
                             <img src="img/reviews-before-img6.jpg">
                             <img src="img/reviews-after-img6.jpg">
                        </div>
                        <div elem="labels">
                            <div elem="label" mods="before">Было :(</div>
                            <div elem="label" mods="after">Стало :)</div>
                        </div>
                    </div>
                    <div elem="body">
                        <div elem="name">Ольга, Ванкувер, Канада</div>
                        <div elem="text" class="js-reviews-text-custom-scroll">Уважаемый Данияр Кайратович! - Вы Волшебник! Бесконечно вам благодарна за внешний вид моей "новой" груди. После операции прошло пол года, форма прекрасная, чувствую себя красоткой, очень комфортно! Спасибо миллион раз!!! С приветом из Канады.</div>
                    </div>
                </div>
            </div>

            <div elem="bot">
                <div elem="note">Записывайтесь на бесплатную консультацию в Amira Clinic: сделайте первый шаг к бюсту вашей мечты!</div>
                <a elem="btn-want" class="site-btn" href="#" data-remodal-target="sign-up">Хочу на <br> консультацию</a>
            </div>
        </div>
    </div>
</div><!-- b-reviews -->