<div block="b-about-us">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
            <div elem="head">
                <div elem="title">Комфорт и безопасность</div>
                <div elem="desc">В нашей клинике есть все для вашего комфорта: современные отдельные палаты с удобными кроватями и телевизором,  вкусная и разнообразная еда. Наш медицинский персонал будет рядом 24\7, достаточно лишь нажать кнопку вызова медсестры.</div>
            </div>

            <div elem="presentation">
                <a elem="video-preview" href="#">
                    <img src="img/video-preview-pic.png" alt="">
                    <span elem="btn-play"><i></i></span>
                </a>
            </div>

            <div elem="text">После маммопластики вы проведете в клинике всего сутки. Но мы продумали каждую мелочь, чтобы в эти 24 часа вы чувствовали себя спокойно и уютно, как дома.</div>
        </div>
    </div>
</div><!-- b-about-us -->