.b-about-us
    padding-top 110px
    padding-bottom 200px
    background url('../img/about-us-bg.png') 50% 0 no-repeat
    
    &__head
        width 590px
        max-width 100%
        margin 0 auto
        text-align center
        margin-bottom 25px
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight bold
        font-style italic
        line-height 60px    
        margin 0 auto 30px
    
    &__presentation
        text-align center
        
    &__video-preview
        font-size 0
        text-decoration none
        display block
        position relative
        &:hover
            
            & ^[0]
            
                &__btn-play
                    transform translate(-50%, -90%) scale(1.1)
                    
                    @media (max-width 480px)
                        transform translate(-50%, -60%) scale(1)
        img
            max-width 100%
            height auto
    
    &__btn-play
        width 80px
        height 80px
        display block
        border 8px solid #fff
        border-radius 50%
        padding-top 21px
        padding-left 27px
        background-image linear-gradient(360deg, #de1929 0%, #f54f5c 100%)
        box-shadow 0px 2px 6px 0px rgba(255,255,255,0.7), 0px 15px 20px 0px rgba(201,35,49,0.4)
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -90%)
        transition transform .3s

        i
            width 0
            height 0
            border-style solid
            border-width 10px 0 10px 14px
            border-color transparent transparent transparent #fff
            display block
        
        @media (max-width 480px)  
            transform: translate(-50%, -60%);
    
    &__text
        font-size 20px
        color #7f889a
        font-weight normal
        line-height 28px
        text-align center
        width 395px
        max-width 100%
        margin 0 auto
        background-color #fff
        border-radius 35px 35px 25px 25px
        padding 73px 35px 10px 35px
        margin-top -198px
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        position relative
        z-index 2
        &:before
            content ''
            position absolute
            top 20px 
            left 50%
            transform translateX(-50%)
            width 77px
            height 70px
            background url('../img/two-quotes-pic.png') 0 0 no-repeat
            z-index 1
        &:after
            content ''
            position absolute
            top -53px
            left -83px
            background url('../img/about-us-border.png') 0 0 no-repeat    
            width 564px
            height 472px
            z-index -1
            
            @media (max-width: 600px)
                display none
            
@media (max-width 1024px)
    .b-about-us
        padding-top 70px
        
    .b-about-us__title
        font-size 40px
        line-height 45px
    
@media (max-width 768px)
    .b-about-us__text
        margin-top -30%
        padding 73px 15px 10px 15px
        font-size 17px
    
    .b-about-us
        padding-bottom 160px

@media (max-width 500px)
    .b-about-us__text
        margin-top 0

@media (max-width 320px)
    .b-about-prices__title:before
        top 20px

    .b-about-us__text:after
        left -82px
        width 435px
        // background url("../img/aboutUs-bg-min.png") 0 0 no-repeat

    .b-about-us__text
        font-size 13px
        // background transparent

    .b-about-us
        padding-bottom 100px
        background url("../img/aboutUsbg-min.png") 50% 0 no-repeat
        background-size cover