.b-detailed-price
    text-align left
    width 650px
    max-width 100%
    border-radius 20px
    background-color #fff
    
    &__section
        padding 30px 50px 25px
        
        @media (max-width: 640px)
            padding 25px
            
    
    &__head
        margin-bottom 5px
    
    &__title
        font-size 36px
        color #050505
        font-family : $fonts.additFont
        font-weight bold
        line-height 60px
        
        @media (max-width: 480px)
            font-size 28px
            line-height 45px
    
    &__item
        padding-top 15px
        margin-bottom 15px
        border-top 1px solid #e3e6ed 
        display flex
        justify-content space-between
        &:last-child
            margin-bottom 0
        
        @media (max-width: 639px)
            flex-direction column
    
    &__info
        width 340px
        max-width 100%    
    
    &__name
        font-size 18px
        color #050505
        font-weight 500
        line-height 22px
        
    &__explanation
        font-size 14px
        color #7f889a
        line-height 18px
        font-weight 500
    
    &__price
        font-size 18px
        color #de1929
        line-height 22px
        font-weight bold
        text-align right
        width 170px
        margin-left auto
        
        @media (max-width: 639px)
            margin-top 10px
        
        