<div block="b-detailed-price" class="remodal" data-remodal-id="detailed-price">
    <button data-remodal-action="close" class="remodal-close"></button>
    <div elem="section">
        <div elem="head">
            <div elem="title">Детальный прайс</div>
        </div>
        <div elem="items">
            <div elem="item">
                <div elem="info">
                    <div elem="name">Увеличение груди, сферические имплантаты</div>
                    <div elem="explanation">(круглая форма)</div>
                </div>
                <div elem="price">900 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Увеличение груди, анатомические имплантаты</div>
                    <div elem="explanation">(анатомическая каплевидная форма)</div>
                </div>
                <div elem="price">1 155 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Увеличение груди, имплантаты с разной плотностью геля</div>
                </div>
                <div elem="price">1 255 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Увеличение груди, имплантаты с полиуретановым покрытием</div>
                </div>
                <div elem="price">1 255 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Увеличение груди, сферические имплантаты</div>
                    <div elem="explanation">(круглая форма)</div>
                </div>
                <div elem="price">900 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Имплантаты круглой формы Ergonomix Motiva</div>
                    <div elem="explanation">(принимают нужную форму груди после имплантации, придавая более естественный вид)</div>
                </div>
                <div elem="price">1 500 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Гидрогелевые биоимплантаты Arion</div>
                    <div elem="explanation">(признаны самым безопасным наполнителем)</div>
                </div>
                <div elem="price">2 000 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Изменение формы соска и ареолы под местной анестезией</div>
                </div>
                <div elem="price">275 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Подтяжка груди</div>
                    <div elem="explanation">(устранение избыточной кожи и перенос соска)</div>
                </div>
                <div elem="price">550 000 - 750 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Редукционная маммопластика</div>
                    <div elem="explanation">(уменьшение груди, устранение избыточной кожи, уменьшение молочной железы и перенос соска)</div>
                </div>
                <div elem="price">750 000 - 1 000 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Гинекомастия</div>
                    <div elem="explanation">(уменьшение груди у мужчин)</div>
                </div>
                <div elem="price">350 000 - 680 000</div>
            </div>
            <div elem="item">
                <div elem="info">
                    <div elem="name">Изменение формы одной груди</div>
                    <div elem="explanation">(круглая форма)</div>
                </div>
                <div elem="price">70% от стоимости операции</div>
            </div>
        </div>
    </div>
</div><!-- b-detailed-price -->