html,
body
    margin 0
    padding 0

html
    min-height 100%
    min-height 100vh

.app
    display flex
    flex-direction column
    height 100%
    height 100vh

    &__wrapper
        display flex
        flex-direction column
        height 100%
        height 100vh

    &__content
        display flex
        flex 1 0 auto

    &__main
        flex 1

.full-contain
    width 1920px
    max-width 100%
    margin 0 auto

.contain
    width 1210px
    max-width 100%
    padding-right 20px
    padding-left 20px
    margin 0 auto

.site-btn
    font-size 20px
    color #fff
    font-weight 500
    line-height 24px
    text-align center
    display inline-block
    vertical-align top
    padding 25px
    border-radius 50px
    border none
    border-bottom 1px solid #fff
    background linear-gradient( 360deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
    box-shadow 0px 4px 0px 0px rgba(201, 35, 49, 0.004),0px 5px 6px 0px rgba(247, 248, 250, 0.004),0px 15px 30px 0px rgba(201, 35, 49, 0.5)    
    position relative    
    &:hover
        color #fff
        text-decoration none
    
    &:after
        content ''
        position absolute 
        cursor default
        
        @media (max-width: 1023px)
            display none
    
    @media (max-width: 480px)
        font-size 16px
        line-height 20px 
        width 100%
        padding-top 15px
        padding-bottom 15px  

input,
button
    outline none !important        

.remodal
    max-width 100%
    width auto
    padding 0

.remodal-wrapper
    padding-top 55px     

.remodal-close
    width 60px
    height 60px
    background-color #fff
    border-radius 50%
    display block
    top -30px
    right -30px
    &:hover
        &:before
            color #de1929
    
    @media (max-width: 767px)   
        right 50%
        transform translateX(50%)          
    
.remodal-close:before
    font-size 55px
    color #000
    font-family : $fonts.additFont !important
    font-weight 200
    top 13px
    right 11px
        

.lodded-in-page
    .b-mobile-panel
        display none