<div block="b-for-you">
    <div elem="section" class="full-contain">
        <div elem="inner" class="contain">
             <div elem="head">
                <div elem="title"><strong>Если вы:</strong></div>
            </div>
            <div elem="items">
                <div elem="item" mods="left">
                    <div elem="list-items">
                        <li elem="list-item">
                            <div elem="namber">01</div>
                            <div elem="text">Хотите увеличить грудь или восстановить ее форму после родов</div>
                        </li>
                        <li elem="list-item">
                            <div elem="namber">02</div>
                            <div elem="text">Хотите исправить асимметрию, улучшить внешний вид груди</div>
                        </li>
                        <li elem="list-item">
                            <div elem="namber">03</div>
                            <div elem="text">Но не знаете, с чего начать и как грамотно подойти к этому вопросу</div>
                        </li>
                    </div>
                </div>
                <div elem="item" mods="right">
                    <div elem="body">
                        <div elem="head">
                            <div elem="desc">То этот вебинар — <br> <strong>для вас.</strong></div>
                        </div>
                        <div elem="explanation">Сегодня все они — обладательницы аккуратной и красивой груди, которую не отличить от натуральной.</div>
                        <a elem="btn-sign-vebinar" class="site-btn" href="#" data-remodal-target="vebinar-sign-up">Записаться на вебинар <br> бесплатно</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- b-for-you -->