.b-for-you
    
    &__section
        padding-top 125px
        padding-bottom 75px
        background url('../img/for-you-bg.png') 0 0 no-repeat
    
    &__title
        font-size 54px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        font-style normal
        line-height 60px
        padding-top 70px
        margin-bottom 50px
        position relative
        &:before
            content ''
            position absolute
            top 0
            left 0
            width 71px
            height 43px
            background url('../img/main-title-pic.png') 0 0 no-repeat
            background-size contain
            
            @media (max-width: 480px)
                width 35px
                height 20px
        
        strong
            font-weight bold
            font-style italic
        
        @media (max-width: 1365px)
            margin-bottom 35px   
        
        @media (max-width: 1023px)  
            font-size 46px
            line-height 50px  
        
        @media (max-width: 480px)
            font-size 24px
            line-height 30px 
            padding-top 30px        
    
    &__items
        display flex
        justify-content space-between
        
        @media (max-width: 959px)
            display block
        
    &__item
        
        &--left
            flex 0 0 440px
            width 440px
            max-width 440px
            
        &--right
            flex 0 0 590px
            width 590px
            max-width 590px    
            
            @media (max-width: 1365px)
                flex 0 0 450px
                width 450px
                max-width 450px
        
        @media (max-width: 959px)
            width 450px
            max-width 100%
            margin 0 auto
                    
    
    &__list-items
        list-style-type none
        padding-top 40px
        padding-left 0
        margin-bottom 0    
        display flex
        flex-wrap wrap
        justify-content space-between
        position relative
        &:after
            content ''
            position absolute
            right -75px
            bottom 30px
            width 213px
            height 98px
            background url('../img/for-you-arr.png') 0 0 no-repeat
            
            @media (max-width: 1023px)
                right -50px
                bottom 0
                background-size 75%
            
            @media (max-width: 959px)
                display none
                    
                
        
        @media (max-width: 959px)
            padding-top 0
            margin-bottom 50px
        
        @media (max-width: 639px)
            display block  
    
    &__list-item
        margin-bottom 40px  
        display flex
        
        @media (max-width: 639px)
            width 100%
            max-width 100%
            margin-bottom 30px
        
    &__namber
        font-size 36px
        color #fff
        font-family : $fonts.additFont
        font-weight bold
        line-height 37px
        text-align center
        flex 0 0 75px
        width 75px
        max-width 75px
        padding 10px 5px
        margin-right 35px
        align-self baseline
        border-radius 7px
        background linear-gradient( 360deg, rgb(222,25,41) 0%, rgb(245,79,92) 100%)
        box-shadow 0px 10px 20px 0px rgba(222,49,65,0.5)
        
        @media (max-width: 639px)
            flex 0 0 75px
            width 75px
            max-width 75px
            align-self baseline
            margin-right 20px
        
    &__text
        font-size 18px
        color #8d9aa2
        font-weight normal
        line-height 24px
        flex 0 0 245px
        width 245px
        max-width 245px
        
        @media (max-width: 480px)  
            font-size 16px
            line-height 20px
        
        @media (max-width: 375px)      
            flex 0 0 185px
            width 185px
            max-width 185px    
    
    &__body
        padding 65px 90px
        border-radius 30px
        background-color #fff
        box-shadow 0px 30px 90px 0px rgba(213, 220, 229, 0.5)
        position relative
        z-index 2
        &:before
            content ''
            position absolute
            top -25px
            left 20px
            width 77px
            height 70px
            background url('../img/two-quotes-pic.png') 0 0 no-repeat
        &:after
            content ''
            position absolute
            top -10px
            right -130px
            width 265px
            height 340px
            background url('../img/dreaming-brassiere-pic.png') 0 0 no-repeat
            
            @media (max-width: 1599px)
                width 235px
                right -70px
                background-size contain
            
            @media (max-width: 1365px)
                width 150px
                right 0
            
            @media (max-width: 1279px)
                width 100px   
                height 145px 

            @media (max-width: 320px)
                right -20px
                top -5px
                    
        @media (max-width: 1599px)
            padding 55px 60px
        
        @media (max-width: 1279px)
            padding-right 30px
            padding-left 30px
        
        @media (max-width: 480px)
            padding-top 35px
            padding-bottom 35px    
        
        @media (max-width: 375px)    
            padding-right 18px
            padding-left 18px

    &__desc
        font-size 38px
        color #050505
        font-family : $fonts.additFont
        font-weight normal
        line-height 40px
        margin-bottom 20px
        
        strong
            font-weight bold
        
        @media (max-width: 1279px)
            font-size 34px
            line-height 36px   
        
        @media (max-width: 480px)
            font-size 18px
            line-height 24px    
            
        @media (max-width: 375px)
            width 180px
            padding-left 15px
            
            br
                display none      
            
    &__explanation
        font-size 20px
        color #7f889a
        line-height 28px
        margin-bottom 30px
        
        @media (max-width: 480px)
            font-size 16px
            line-height 20px
        
        @media (max-width: 375px)
            padding-left 15px    
    
    &__btn-sign-vebinar
        width 350px
        &:after
            right -75px
            bottom 50px
            width 59px
            height 98px
            background url('../img/for-you-btn-arr.png') 0 0 no-repeat
            
            @media (max-width: 1365px)
                display none